{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    <main class="h-100">

        <video poster="{% static 'video/loop.jpg' %}" id="bgvid" playsinline autoplay muted loop>
            <source src="{% static 'video/loop.mp4' %}" type="video/mp4" id="bgvidsrc">
        </video>

        <div class="d-flex flex-column h-100 align-items-center">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                <div id="login-outer" class="animate__animated animate__fadeIn " style="max-width: 320px;">
                    <div class="text-center">
{#                        <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="{{ site_settings.site_title }}">#}
                        <h3 class="text-white mt-2">{{ site_settings.site_title }}</h3>
{#                        <h4><i class="fa-solid fa-users me-2"></i> User Invite</h4>#}
                    </div>

                    {% if invite %}
                        <p class="text-center">Welcome to {{ site_settings.site_title }}.<br>
                            Select a Username and Password.</p>

                        <form method="POST" name="inviteForm" id="inviteForm" action="{% url 'settings:invite' invite=invite %}">
                            {% csrf_token %}

                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" autocomplete="username"
                                   aria-describedby="username-invalid" autofocus required>
                            <div id="username-invalid" class="invalid-feedback"></div>

                            <label for="password" class="form-label mt-2">Password</label>
                            <input type="password" class="form-control" id="password" name="password" autocomplete="password"
                                   aria-describedby="password-invalid" required>
                            <div id="password-invalid" class="invalid-feedback"></div>

                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-success opacity-75" type="submit">
                                    <i class="fa-solid fa-joint me-2"></i> Be Cool</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="lead text-center">
                            <span class="text-danger-emphasis">Invite Not Found.</span>
                            <br>
                            <span class="text-warning-emphasis">Me So Sorry...</span></p>
                        <div class="modal-footer">
                            <a role="button" class="btn btn-outline-success col" href="{% url 'home:index' %}">
                                <i class="fa-solid fa-house-laptop me-2"></i> Go Home</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block footer %}{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'js/invite.js' %}"></script>
{% endblock %}

{% block backtotop %}{% endblock %}
