{% extends "settings/main.html" %}
{% load home_tags %}
{% load static %}
{% load cache %}
{% block user_active %}active{% endblock %}
{% block user_active_dd %}active{% endblock %}
{% block title %}User Settings{% endblock %}
{% block fa_class %}fas fa-user-circle{% endblock %}

{% block head %}
    <link href="{% static 'uppy/uppy.min.css' %}" rel="stylesheet">{% endblock %}
{% block main %}

    <div class="float-end">Last Login: {{ user.last_login }}</div>
    <div>ID: {{ user.id }}</div>

    <form class="row" id="settingsForm" method="post" action="{% url 'settings:site' %}">
        <div class="border border-success-subtle rounded-2 p-3 my-2">
            <div class="row mt-1">
                <div class="col-md-2 d-flex justify-content-center">
                    <img src="{{ user.get_avatar_url }}" role="button" class="rounded-circle mx-5 uploadAvatarHookBtn"
                    {% if user.user_avatar_choice == "DF" %}
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Upload new avatar"
                    {% endif%}
                    height="128" width="128" alt="Avatar" ></a>
                </div>
                <div class="col-md-2 mt-2">
                    <label for="user_avatar_choice mt-5" class="form-label">Avatar Source</label>
                    <select class="form-select" id="user_avatar_choice" name="user_avatar_choice"
                        aria-describedby="user_avatar_choice-help user_avatar_choice-invalid">
                        {% for value, display in user_avatar_choices %}
                            {% if not site_settings.discord_client_id and display == "Discord" and not 'DISCORD_CLIENT_ID'|get_config or not user.discord and display == "Discord" %}
                            {% elif not site_settings.github_client_id and display == "Github" and not 'GITHUB_CLIENT_ID'|get_config or not user.github and display == "Github" %}
                            {% elif not site_settings.google_client_id and display == "Google" and not 'GOOGLE_CLIENT_ID'|get_config or not user.google and display == "Google" %}
                            {% else %}
                            <option value="{{ value }}" {% if value == user.user_avatar_choice %}selected{% endif %}>{{ display }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div id="user_avatar_choice_choice-invalid" class="invalid-feedback"></div>
                    <div id="user_avatar_choice-help" class="form-text">
                        Select the source for avatar.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" autocomplete="given-name"
                           value="{{ user.first_name }}" aria-describedby="first_name-help first_name-invalid">
                    <div id="first_name-invalid" class="invalid-feedback"></div>
                    <div id="first_name-help" class="form-text">
                        First Name.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="timezone" class="form-label">Timezone</label>
                    <input class="form-control" list="timezoneOptions" id="timezone" name="timezone" autocomplete="timezone"
                        value="{{ user.timezone }}" placeholder="Type to Search...">
                    <datalist id="timezoneOptions">
                        {% for timezone in timezones %}
                            <option value="{{ timezone }}"></option>
                        {% endfor %}
                    </datalist>
                    <div id="timezone-invalid" class="invalid-feedback"></div>
                    <div id="timezone-help" class="form-text">Current Timezone.</div>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-md-6">
                    <label for="default_expire" class="form-label">Default Expire</label>
                    <input type="text" class="form-control" id="default_expire" name="default_expire" autocomplete="expiration"
                        value="{{ user.default_expire }}" aria-describedby="default_expire-help default_expire-invalid">
                    <div id="default_expire-invalid" class="invalid-feedback"></div>
                    <div id="default_expire-help" class="form-text">
                        For examples, see <a href="https://github.com/onegreyonewhite/pytimeparse2#pytimeparse2-time-expression-parser"
                                             target="_blank" rel="noopener">this README.md</a>.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="default_upload_name_format" class="form-label">Default Upload Format</label>
                    <select class="form-select" id="default_upload_name_format" name="default_upload_name_format"
                        aria-describedby="default_upload_name_format-help default_upload_name_format-invalid">
                        {% for value, display in default_upload_name_formats %}
                            <option value="{{ value }}" {% if value == user.default_upload_name_format %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                    </select>
                    <div id="default_upload_name_format_name_format-invalid" class="invalid-feedback"></div>
                    <div id="default_upload_name_format-help" class="form-text">
                        For examples, see <a href="https://github.com/django-files/django-files#table-of-contents" target="_blank" rel="noopener">this README.md</a>.
                    </div>
                </div>
            </div>
            <hr class="mt-4"/>
            <div class="row">
                <div class="col mx-sm-4 fs-5">
                    <h4>File Defaults</h4>
                    <div class="form-check form-switch px-lg-5">
                        <input class="form-check-input" type="checkbox" id="remove_exif" name="remove_exif" {{ request.user.remove_exif|if_true:"checked" }}>
                        <label class="form-check-label" for="remove_exif">
                          Strip All EXIF Data
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="remove_exif_geo" name="remove_exif_geo" {{ request.user.remove_exif_geo|if_true:"checked" }}>
                        <label class="form-check-label" for="remove_exif_geo">
                            Strip GPS EXIF Data
                        </label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="default_file_private" name="default_file_private" {{ request.user.default_file_private|if_true:"checked" }}>
                        <label class="form-check-label" for="default_file_private">
                          Private Files
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="default_file_password" name="default_file_password" {{ request.user.default_file_password|if_true:"checked" }}>
                        <label class="form-check-label" for="default_file_password">
                          Password Protected Files
                        </label>
                    </div>
                </div>
                <div class="col mx-sm-4 fs-5">
                    <h4>User Settings</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="show_exif_preview" name="show_exif_preview" {{ request.user.show_exif_preview|if_true:"checked" }}>
                        <label class="form-check-label" for="show_exif_preview">
                          Enable EXIF Embeds
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt-3 pt-3">
                <h4>Appearance</h4>
                <div class="col-auto">
                    <label for="default_color" class="form-label">Embed</label>
                    <input type="color" class="form-control form-control-color" id="default_color" name="default_color"
                        value="{{ user.default_color }}" title="Default Color" aria-describedby="default_color-invalid">
                    <div id="default_color-invalid" class="invalid-feedback"></div>
                </div>
                <div class="col-auto">
                    <label for="nav_color_1" class="form-label">Nav 1</label>
                    <input type="color" class="form-control form-control-color" id="nav_color_1" name="nav_color_1"
                        value="{{ user.nav_color_1 }}" title="Default Color" aria-describedby="nav_color_1-invalid">
                    <div id="nav_color_1-invalid" class="invalid-feedback"></div>
                </div>
                <div class="col-auto">
                    <label for="nav_color_2" class="form-label">Nav 2</label>
                    <input type="color" class="form-control form-control-color" id="nav_color_2" name="nav_color_2"
                        value="{{ user.nav_color_2 }}" title="Default Color" aria-describedby="nav_color_2-invalid">
                    <div id="nav_color_2-invalid" class="invalid-feedback"></div>
                </div>
            </div>

{#            <div class="row mt-3 pt-3">#}
{#                <div class="col-12">#}
{#                    <button type="submit" class="btn btn-lg btn-outline-success" id="save-settings">#}
{#                        <i class="fa-solid fa-floppy-disk me-2"></i> Save Settings</button>#}
{#                </div>#}
{#            </div>#}

        </div>
    </form>

    {% if site_settings.discord_client_id or 'DISCORD_CLIENT_ID'|get_config %}
        {% if not user.discord %}
            <a href="{% url 'oauth:discord' %}" class="btn btn-sm btn-outline-primary me-2 mt-4" role="button">
                <i class="fab fa-discord me-2"></i> Connect Account to Discord</a>
        {% endif %}
    {% endif %}
    {% if site_settings.github_client_id or 'GITHUB_CLIENT_ID'|get_config %}
        {% if not user.github %}
            <a href="{% url 'oauth:github' %}" class="btn btn-sm btn-outline-light me-2 mt-4" role="button">
                <i class="fab fa-github me-2"></i> Connect Account to GitHub</a>
        {% endif %}
    {% endif %}
    {% if site_settings.google_client_id or 'GOOGLE_CLIENT_ID'|get_config %}
        {% if not user.google %}
            <a href="{% url 'oauth:google' %}" class="btn btn-info btn-sm me-2 mt-4" role="button">
                <i class="fab fa-google me-2"></i> Connect Account to Google</a>
        {% endif %}
    {% endif %}
    
    <hr>

    <section id="webhooks">
    <h3>Webhooks</h3>

    {% if site_settings.discord_client_id or 'DISCORD_CLIENT_ID'|get_config %}
        {% if user.discord %}
            <div class="mt-3">
                <p><a href="{% url 'oauth:webhook' %}" class="btn btn-lg btn-outline-primary" role="button">
                    <i class="fab fa-discord me-2"></i> Add Webhook to Discord</a></p>
            </div>

            {% if not webhooks %}
                <p class="lead">No Webhooks Found. Perhaps you forgot to add one?</p>
            {% else %}
                <table class="table table-responsive" id="discordWebhooksTable">
                    <caption class="visually-hidden">Active Webhooks</caption>
                    <thead>
                    <tr>
                        <th scope="col" class="d-none d-sm-table-cell">ID</th>
                        <th scope="col" class="d-none d-sm-table-cell">Guild ID</th>
                        <th scope="col">Channel ID</th>
                        <th scope="col" class="d-none d-md-table-cell">Date</th>
                        <th scope="col" class="text-center"><i class="fa-solid fa-recycle"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in webhooks %}
                        <tr id="webhook-{{ data.id }}">
                            <th scope="row" class="d-none d-sm-table-cell">{{ data.id }}</th>
                            <td><a class="clip link-body-emphasis text-decoration-none" role="button"
                                data-clipboard-text="{{ data.guild_id }}">{{ data.guild_id }}</a></td>
                            <td class="d-none d-sm-table-cell">
                                <a class="clip link-body-emphasis text-decoration-none" role="button"
                                data-clipboard-text="{{ data.channel_id }}">{{ data.channel_id }}</a></td>
                            <td class="d-none d-md-table-cell">
                                <a class="clip link-body-emphasis text-decoration-none" role="button"
                                data-clipboard-text="{{ data.created_at }}">{{ data.created_at|date:"j M, o" }}</a></td>
                            <td class="text-center"><a role="button" class="deleteDiscordHookBtn" data-hook-id="{{ data.id }}" title="Delete">
                                <i class="fa-regular fa-trash-can link-danger"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% else %}
            <p>To enable Webhooks, you must connect Discord.</p>
            <p><a href="{% url 'oauth:discord' %}" class="btn btn-sm btn-outline-primary" role="button">
                <i class="fab fa-discord me-2"></i> Connect Account to a Discord</a></p>
        {% endif %}
    {% else %}
        <p>To enable Webhooks, you must configure Discord.</p>
    {% endif %}
    </section>

    <hr>

    <section id="upload">
    <h3>Upload Methods</h3>

    <p class="lead">Django Files is backwards compatible with
        <a href="https://zipline.diced.vercel.app/docs/api/upload" target="_blank">
            Zipline</a> client upload settings.</p>

    <div class="row g-3">
        <div class="col-sm-6">
            <a href="{% url 'settings:sharex' %}" class="btn btn-lg btn-outline-primary d-block">
                <img src="{% static 'images/assets/sharex.svg' %}" class="me-2" alt="ShareX" width="24">
                ShareX Files</a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'settings:sharex-url' %}" class="btn btn-lg btn-outline-primary d-block">
                <img src="{% static 'images/assets/sharex.svg' %}" class="me-2" alt="ShareX" width="24">
                ShareX URL Shorts</a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'settings:flameshot' %}" class="btn btn-lg btn-outline-primary d-block">
                <img src="{% static 'images/assets/flameshot.svg' %}" class="me-2" alt="Flameshot" width="24">
                Flameshot Script</a>
        </div>
        <div class="col-sm-6">
            <a href="https://www.icloud.com/shortcuts/9fde67b3aa9c401b86987061e5c359a8" class="btn btn-lg btn-outline-primary d-block" target="_blank" rel="noopener">
                <i class="fa-brands fa-apple fa-xl" alt="iOS/Mac OS Shortcut"></i>&nbsp;
                iOS/MacOS Shortcut</a>
        </div>
    </div>
    </section>

    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="cli-tab" data-bs-toggle="tab" type="button"
                    data-bs-target="#cli-tab-pane" role="tab" aria-controls="cli-tab-pane" aria-selected="false">CLI</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="shell-tab" data-bs-toggle="tab" type="button"
                    data-bs-target="#shell-tab-pane" role="tab" aria-controls="shell-tab-pane" aria-selected="false">Shell</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="python-tab" data-bs-toggle="tab" type="button"
                    data-bs-target="#python-tab-pane" role="tab" aria-controls="python-tab-pane" aria-selected="false">Python</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" type="button"
                    data-bs-target="#home-tab-pane" role="tab" aria-controls="home-tab-pane" aria-selected="true">Custom</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="cli-tab-pane" role="tabpanel" aria-labelledby="cli-tab" tabindex="0">
            <p><a class="clip text-decoration-none text-warning" role="button" data-clipboard-action="copy" data-clipboard-target="#cli-code">
                <i class="fa-regular fa-clipboard ms-2"></i> Copy</a></p>
            <h4>Install From PyPI:</h4>
            <p><kbd id="cli-code">python3 -m pip install zipline-cli</kbd></p>
            <p>Or alternatively from GitHub:</p>
            <p><kbd id="cli-code">python3 -m pip install git+https://github.com/cssnr/zipline-cli.git</kbd></p>
            <p>For more information and usage visit
                <span class="d-inline-block"><a href="https://github.com/cssnr/zipline-cli" target="_blank" rel="noopener">
                    Zipline CLI on GitHub</a></span></p>
        </div>

        <div class="tab-pane fade col-md-8" id="shell-tab-pane" role="tabpanel" aria-labelledby="shell-tab" tabindex="0">
            <p><a class="clip text-decoration-none text-warning" role="button" data-clipboard-action="copy" data-clipboard-target="#shell-code">
                <i class="fa-regular fa-clipboard ms-2 mt-3"></i> Copy</a></p>
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <pre><code id="shell-code">{% include 'scripts/shell-example.sh' with auth=user.authorization expire=user.default_expire site_url=site_settings.site_url  %}</code></pre>
            </div>
        </div>

        <div class="tab-pane fade col-md-8" id="python-tab-pane" role="tabpanel" aria-labelledby="python-tab" tabindex="0">
            <p><a class="clip text-decoration-none text-warning" role="button" data-clipboard-action="copy" data-clipboard-target="#python-code">
                <i class="fa-regular fa-clipboard ms-2 mt-3"></i> Copy</a></p>
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <pre><code id="python-code">{% include 'scripts/python-example.py' with auth=user.authorization expire=user.default_expire site_url=site_settings.site_url  %}</code></pre>
            </div>
        </div>

        <div class="tab-pane fade" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <p><a class="clip text-decoration-none text-warning" role="button" data-clipboard-action="copy" data-clipboard-target="#upload-url">
                <i class="fa-regular fa-clipboard ms-2 mt-3"></i> Copy</a></p>
            <p><kbd id="upload-url">{{ site_settings.site_url }}{% url 'home:upload' %}</kbd></p>
            <p>Uploads accept the following parameters. Click a tab above to view full examples.</p>
            <table class="table table-sm table-striped">
                <caption class="visually-hidden">Custom Upload Options</caption>
                <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Type</th>
                    <th scope="col">Value</th>
                    <th scope="col" class="d-none d-md-table-cell">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">File</th>
                    <th scope="row">file</th>
                    <td>@file</td>
                    <td class="d-none d-md-table-cell">File Object to Upload</td>
                </tr>
                <tr>
                    <th scope="row">Authorization</th>
                    <th scope="row">header</th>
                    <td>&lt;see below&gt;</td>
                    <td class="d-none d-md-table-cell">Authorization Token</td>
                </tr>
                <tr>
                    <th scope="row">Expires-At</th>
                    <th scope="row">header</th>
                    <td>{{ user.default_expire }}</td>
                    <td class="d-none d-md-table-cell">Expire Value. To override default use <kbd>0</kbd> or <kbd>never</kbd>.
                        For values <a href="https://github.com/onegreyonewhite/pytimeparse2#pytimeparse2-time-expression-parser"
                                      target="_blank" rel="noopener">read this</a>.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <section id="token">
    <h3>Authorization Token</h3>

    <p>Treat this token like a password.</p>
    <p><a class="btn btn-lg btn-outline-light clip" role="button" data-clipboard-text="{{ user.authorization }}">
        <i class="fa-solid fa-key me-2"></i> Copy Token</a></p>
    <p><kbd>{{ user.authorization }}</kbd></p>

    {% include 'settings/user-settings-modals.html' %}
    </section>
{% endblock %}



{% block tail %}
    <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
    <script type="module" src="{% static 'js/avatar.js' %}"></script>
{% endblock %}
