{% extends "main.html" %}
{% load static %}
{% load tz %}
{% load home_tags %}
{% block title %}Welcome{% endblock %}

{% block head %}{% endblock %}

{% block welcome %}{% endblock %}

{% block body %}
    <div class="container-fluid py-3 px-4">

        <h1>Welcome To Django Files</h1>

        <div class="modal fade" id="welcomeModal" aria-labelledby="welcomeModalLabel" aria-hidden="true"
             tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="welcomeModalLabel">
                            <i class="fa-solid fa-user-lock me-2"></i> Set Credentials</h1>
                    </div>
                    <form id="welcomeForm" action="{% url 'settings:welcome' %}">
                        <div class="modal-body">
                            {% comment %}
                            <div class="">
                                <label for="first_name" class="form-label">Display Name (Optional)</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" autocomplete="given-name"
                                       value="{{ user.first_name }}" aria-describedby="first_name-help first_name-invalid">
                                <div id="first_name-invalid" class="invalid-feedback"></div>
                                <div id="first_name-help" class="form-text">
                                    Display Name used in place of Username.
                                </div>
                            </div>
                            {% endcomment %}
                            <div class="">
                                <label for="username" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="username" name="username"
                                       value="{{ request.user.username }}" aria-describedby="username-invalid" autofocus required>
                                <div id="username-invalid" class="invalid-feedback"></div>
                                <div id="username-help" class="form-text">Username for Logging In.</div>
                            </div>
                            <div class="">
                                <label for="password" class="col-form-label">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" aria-describedby="password-invalid"
                                       {% if not request.session.oauth_provider %}required{% endif %}>
                                <div id="password-invalid" class="invalid-feedback"></div>
                                <div id="username-help" class="form-text">
                                    {% if request.session.oauth_provider %}
                                        Leave blank to disallow local login.
                                    {% else %}
                                        Password for Logging In.
                                    {% endif %}
                                </div>
                            </div>
                            <div class="">
                                <label for="timezone" class="form-label">Timezone</label>
                                <input class="form-control" list="timezoneOptions" id="timezone" name="timezone"
                                       value="{{ site_settings.timezone }}" placeholder="Type to Search...">
                                <datalist id="timezoneOptions">
                                    {% for timezone in timezones %}
                                        <option value="{{ timezone }}"></option>
                                    {% endfor %}
                                </datalist>
                                <div id="timezone-invalid" class="invalid-feedback"></div>
                            </div>
                            {% if request.user.is_superuser %}
                                <div class="">
                                    <label for="site_url" class="col-form-label">Site URL:</label>
                                    <input type="text" class="form-control" id="site_url" name="site_url"
                                        {% if 'SITE_URL'|get_config %}
                                           value="{{ 'SITE_URL'|get_config }}"
                                        {% elif site_settings.site_url %}
                                           value="{{ site_settings.site_url }}"
                                        {% else %}
                                           value=""
                                        {% endif %} required>
                                    <div id="site_url-invalid" class="invalid-feedback"></div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button id="saveCredentials" type="submit" class="btn btn-success col">
                                <i class="fa-regular fa-hard-drive me-2"></i> Save Credentials</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'js/welcome.js' %}"></script>
{% endblock %}
