{% load static %}
<script type="text/javascript" src="{% static 'dist/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/datatables/dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/datatables/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/datatables/dataTables.dateTime.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/datatables/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/datatables/datetime.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/datatables/dataTables.select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/datatables/dataTables.buttons.min.js' %}"></script>
