{% load home_tags %}

{% if request.user.is_authenticated and request.user == file.user %}
<div class="dropdown">
    <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></button>
    <ul class="dropdown-menu">
        <li>
            <a role="button" class="set-expr-btn dropdown-item" data-pk="{{ file.pk }}" title="Set Expiration">
                <i class="fa-solid fa-hourglass fa-fw"></i><span class="text-end">&nbsp;Set Expiration</span></a>
        </li>
        <li>
            <a role="button" id="toggle-private-btn" class="toggle-private-hook-btn dropdown-item" data-pk="{{ file.pk }}" title="Toggle Private">
                {% if file.private %}
                    <i id="toggleStatus" class="fa-solid fa-fw fa-lock-open "></i><span class="toggleText">&nbsp;Make Public</span>
                {% else %}
                    <i id="toggleStatus" class="fa-solid fa-fw fa-lock"></i><span id="toggleText">&nbsp;Make Private</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a role="button" class="set-password-file-btn dropdown-item" data-pk="{{ file.pk }}" title="Set Password">
                <i class="fas fa-key link-info fa-fw"></i>&nbsp;Set Password</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a role="button" class="delete-file-btn dropdown-item" data-pk="{{ file.pk }}" title="Delete">
                <i class="fa-regular fa-trash-can link-danger fa-fw"></i><span class="text-end">&nbsp;Delete File</span></a>
        </li>
    </ul>
</div>
{% endif %}