{% load home_tags %}
{% is_mobile_browser request as mobile_browser %}

<footer class="flex-shrink-0 footer mt-auto py-2 px-2">
    <div class="d-flex align-items-center">

        <div class="me-auto">
            <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" target="_blank" rel="noopener"
               href="https://github.com/django-files/django-files">
                <i class="fab fa-github"></i> Django Files</a>
            {% if request.user.is_authenticated and site_settings.latest_version %}
                <a class="d-inline-block link-warning text-decoration-none" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                   data-bs-title="Update Available" data-bs-content="Version: {{ site_settings.latest_version }}"
                   href="https://github.com/django-files/django-files/releases/latest" target="_blank" rel="noopener">
                    v{{ 'APP_VERSION'|get_config }} <i class="fa-solid fa-turn-up"></i></a>
            {% else %}
                <span class="text-body-secondary">v{{ 'APP_VERSION'|get_config }}</span>
            {% endif %}
        </div>

        {% if request.user.is_authenticated %}
            <nav aria-label="Secondary Navigation">
                <ul class="navbar-nav flex-row align-items-center gap-2 gap-lg-3 mb-0">
                    {% if mobile_browser and native_app_arg %}
                        <li class="nav-item">
                            <a href="{{ native_app_arg }}" class="nav-link p-0 link-body-emphasis" title="Open in App">
                                <i class="fa-solid fa-mobile-screen-button"></i>
                                <span class="d-none d-lg-inline ms-1">Open in App</span></a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'home:index' %}" class="nav-link p-0 link-body-emphasis" title="Home">
                            <i class="fa-solid fa-house-laptop"></i>
                            <span class="d-none d-lg-inline ms-1">Home</span></a>
                    </li>
                    <li class="nav-item dropup">
                        <a href="#" class="nav-link p-0 link-body-emphasis dropdown-toggle" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" title="Upload">
                            <i class="fa-solid fa-upload"></i>
                            <span class="d-none d-lg-inline ms-1">Upload</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'home:uppy' %}">
                                <i class="fa-solid fa-upload me-2"></i> Files</a></li>
                            <li><a class="dropdown-item" href="{% url 'home:paste' %}">
                                <i class="fa-regular fa-file-lines me-2"></i> Text</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home:files' %}" class="nav-link p-0 link-body-emphasis" title="Files">
                            <i class="fa-regular fa-folder-open"></i>
                            <span class="d-none d-lg-inline ms-1">Files</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home:albums' %}" class="nav-link p-0 link-body-emphasis" title="Albums">
                            <i class="fa-regular fa-images"></i>
                            <span class="d-none d-lg-inline ms-1">Albums</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home:streams' %}" class="nav-link p-0 link-body-emphasis" title="Streams">
                            <i class="fa-solid fa-video"></i>
                            <span class="d-none d-lg-inline ms-1">Streams</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home:shorts' %}" class="nav-link p-0 link-body-emphasis" title="Shorts">
                            <i class="fa-solid fa-link"></i>
                            <span class="d-none d-lg-inline ms-1">Shorts</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home:stats' %}" class="nav-link p-0 link-body-emphasis" title="Stats">
                            <i class="fa-solid fa-chart-line"></i>
                            <span class="d-none d-lg-inline ms-1">Stats</span></a>
                    </li>
                    <li class="nav-item dropup">
                        <a href="#" class="nav-link p-0 link-body-emphasis dropdown-toggle" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" title="Settings">
                            <i class="fa-solid fa-gear"></i>
                            <span class="d-none d-lg-inline ms-1">Settings</span></a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'settings:user' %}">
                                <i class="fas fa-user-circle me-2"></i> User Settings</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'settings:site' %}">
                                    <i class="fa-solid fa-gears me-2"></i> Site Settings</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
        {% else %}
            {% if mobile_browser and native_app_arg %}
                <a href="{{ native_app_arg }}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover me-3">
                    <i class="fa-solid fa-mobile-screen-button me-1"></i>
                    <span class="d-none d-lg-inline">Open in App</span></a>
            {% endif %}
            <a href="{% url 'oauth:login' %}?next={{ request.path }}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                <i class="fas fa-sign-in-alt me-1"></i> Log In</a>
        {% endif %}

    </div>
</footer>
