{% load home_tags %}

<footer class="footer mt-auto p-2">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-lg-4">
                <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="https://github.com/django-files/django-files" target="_blank">
                    <i class="fab fa-github"></i> Django Files</a> <span class="text-body-secondary">v{{ 'APP_VERSION'|get_config }}</span></p>
            </div>

            <div class="col-12 col-lg-8 text-lg-end">
                <ul class="list-unstyled list-inline d-none d-md-block ps-0">
                    <li class="list-inline-item"><a href="{% url 'home:index' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Home</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{% url 'home:gallery' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Gallery</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{% url 'home:uppy' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Upload</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{% url 'home:files' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Files</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{% url 'home:shorts' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Shorts</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{% url 'home:stats' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Stats</a></li>
{#                    <li class="list-inline-item">|</li>#}
{#                    <li class="list-inline-item"><a href="{% url 'home:settings:site' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">#}
{#                        Settings</a></li>#}
                </ul>
            </div>

            <div class="col-12">
                <ul class="list-unstyled d-xs-block d-md-none d-lg-none d-xl-none">
                    <li class="list-group-item"><a href="{% url 'home:index' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Home</a></li>
                    <li class="list-group-item"><a href="{% url 'home:gallery' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Gallery</a></li>
                    <li class="list-group-item"><a href="{% url 'home:uppy' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Upload</a></li>
                    <li class="list-group-item"><a href="{% url 'home:files' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Files</a></li>
                    <li class="list-group-item"><a href="{% url 'home:shorts' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Shorts</a></li>
                    <li class="list-group-item"><a href="{% url 'home:stats' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                        Stats</a></li>
{#                    <li class="list-group-item"><a href="{% url 'home:settings:site' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">#}
{#                        Settings</a></li>#}
                </ul>
            </div>

        </div>
    </div>
</footer>


