{% load home_tags %}

<div class="col-auto m-2 align-self-center align-middle align-items-center text-center d-flex">
    {% if file.mime|single_type == 'image' %}
        <a href="{{ file.file.url }}" target="_blank">
            <img src="{{ file.file.url }}" class="img-responsive" alt="{{ file.file.name }}"
                 style="max-height: 256px; max-width: 256px"></a>
    {% elif file.mime|single_type == 'video' %}
        <video width="256" height="256" controls>
            <source src="{{ file.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% elif file.mime|single_type == 'audio' %}
        <audio controls>
            <source src="{{ file.file.url }}" type="{{ file.mime }}">
            Your browser does not support the audio tag.
        </audio>
    {% else %}
        <a href="{{ file.file.url }}" class="text-decoration-none">
            {{ file.name }}<br><i class="fa-solid fa-download"></i>
            <em>{{ file.mime }}</em> {{ file.get_size }}<br></a>
    {% endif %}
</div>
