<div class="modal fade" id="set-password-file-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aajaxderia-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Set File Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" id="set-password-form" name="set-password-form">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="test-primary">Setting a password will prevent others from accessing the the file without the password.
                                If the file is private, this will allow others to access the file with the password.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group w-auto">
                                <input type="password" class="form-control" id="password" name="password" autocomplete="off" value="{{ file.password}}"
                                    aria-describedby="password-help password-invalid" placeholder="test">
                                <button type="button" title="Umask password." id="unMaskPassword" class="btn btn-secondary btn-sm"><i class="fa-solid fa-eye me-1"></i></button>
                                <button type="button" title="Copy Password" id="copyPassword" class="btn btn-warning btn-sm"><i class="fa-regular fa-copy"></i></button>
                                <button type="button" title="Generate new password." id="generatePassword" class="btn btn-info btn-sm"><i class="fa-solid fa-key"></i></i></button>
                            </div>
                            <div id="password-invalid" class="invalid-feedback"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="confirm-set-password-hook-btn">Set Password<i
                        class="fas fa-lock ms-1"></i></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
