<div class="modal fade" id="set-password-file-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aajaxderia-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Set File Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" id="set-password-form" name="set-password-form" method="POST" action="{% url 'home:settings' %}">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" class="form-control" id="password" name="password" placeholder=""
                                aria-describedby="password-help password-invalid">
                            <div id="password-invalid" class="invalid-feedback"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="confirm-set-password-hook-btn">Set Password<i
                        class="fas fa-lock ms-1"></i></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
