{% load home_tags %}

<table class="table table-sm table-striped table-hover" id="shorts-table">
    <thead>
    <tr>
        <th scope="col" class="d-none d-sm-table-cell">Short</th>
        <th scope="col">URL</th>
        <th scope="col" class="d-none d-md-table-cell"><i class="fa-solid fa-eye"></i></th>
        <th scope="col" class="d-none d-md-table-cell"><i class="fa-solid fa-bomb"></i></th>
        <th scope="col" class="text-center"><i class="fa-solid fa-gears"></i></th>
    </tr>
    </thead>
    <tbody>
    {% for short in shorts %}
    <tr id="short-{{ short.id }}">
        <th scope="row" class="d-none d-sm-table-cell">
            <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'home:short' short=short.short %}" target="_blank">
                {{ short.short }}</a></th>
        <td><a href="{{ short.url }}" target="_blank">{{ short.url }}</a></td>
        <td class="d-none d-md-table-cell">{{ short.views }}</td>
        <td class="d-none d-md-table-cell">{{ short.max|default:"-" }}</td>
        <td class="text-center">
            <a class="clip text-white mx-1" role="button" data-clipboard-text="{{ request.scheme }}://{{ request.get_host }}{% url 'home:short' short=short.short %}">
            <i class="fa-regular fa-clipboard"></i></a>
            <a role="button" class="delete-short-btn" data-hook-id="{{ short.id }}" title="Delete">
                <i class="fa-regular fa-trash-can link-danger"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="delete-short-modal" tabindex="-1" aria-labelledby="delete-short-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete-short-label">Delete Short URL</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this short url?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="short-delete-confirm">Delete
                    <i class="fa-regular fa-trash-can ms-1"></i></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
