{% load home_tags %}
{% if not stats %}
    <p class="lead">Stats will show up here after files are uploaded and stats are generated...</p>
{% else %}
    <div class="row">
        {% include 'include/stats-card.html' with title="Total Files" data=stats.stats.count %}
        {% include 'include/stats-card.html' with title="Total Size" data=stats.stats.human_size %}
        {% include 'include/stats-card.html' with title="Total Bytes" data=stats.stats.size %}
    </div>

    <table class="table table-sm table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Count</th>
            <th scope="col">Size</th>
            <th scope="col" class="d-none d-sm-table-cell">Bytes</th>
        </tr>
        </thead>
        <tbody>
        {% for type, data in stats.stats.types.items %}
        <tr>
            <th scope="row">{{ type }}</th>
            <td>{{ data.count }}</td>
            <td>{{ data.size|bytes_human }}</td>
            <td class="d-none d-sm-table-cell">{{ data.size }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
