{% load home_tags %}

<table class="table table-sm table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Type</th>
        <th scope="col">Count</th>
        <th scope="col">Size</th>
        <th scope="col" class="d-none d-sm-table-cell">Bytes</th>
    </tr>
    </thead>
    <tbody>
    {% for type, data in stats.stats.types|sort_mimes:count  %}
    <tr>
        <th scope="row">{{ type }}</th>
        <td>{{ data.count }}</td>
        <td>{{ data.size|bytes_human }}</td>
        <td class="d-none d-sm-table-cell">{{ data.size }}</td>
    </tr>
    {% if forloop.counter == count %}
        <tr>
            <td colspan="4" class="text-center"><em>Only Top {{ count }} shown.
                <a href="{% url 'home:stats' %}">View All Stats</a>.</em></td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
