<div id="dt-user-select-wrapper" class="d-inline-flex align-items-center gap-1">
    <label for="user" class="form-label form-label-sm mb-0 me-1">User:</label>
    <select id="user" name="user" class="form-select form-select-sm">
        <option value="" {% if not request.GET.user %}selected{% endif %}>Select a User</option>
        <option value="0" {% if request.GET.user == "0" %}selected{% endif %}>All Users</option>
        {% for user in users %}
            <option value="{{ user.id }}" {% if user.id|stringformat:"i" == request.GET.user %}selected{% endif %}>{{ user.username }}</option>
        {% endfor %}
    </select>
</div>
