.idea/
*.iml
.vscode/
**/__pycache__/
**/venv/
*.pyc
.coverage
**/dist/
**/screenshots/
*.log
*.sqlite3
.ash_history
.python_history
settings.env
app/*.env
node_modules/
app/static/admin/
app/static/debug_toolbar/
app/static/django_extensions/
