{% extends "main.html" %}
{% load home_tags %}

{% block title %}Contact Form{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h1>Contact Form</h1>
        <div class="card mb-3">
            <div class="card-header">{{ contact.email }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ contact.subject }}</h4>
                <p class="card-text">{{ contact.message|linebreaksbr }}</p>
            </div>
        </div>
        <a href="{% get_config 'SITE_URL' %}{% url 'home:contact_html' 'browser' contact.uuid %}"
           class="btn btn-primary">View in Browser</a>
    </div>
{% endblock %}

{% block tail %}{% endblock %}
