{% load static %}
{% load home_tags %}
<div id="preview-sidebar" class="sidebar h-100">
    <a role="button" class="closebtn" id="closeSidebar" title="Hide sidebar"><i class="fa-solid fa-square-caret-right"></i></a>
    <button class="sidebar-context-btn" id="sidebarContext" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="More options">
        <i class="fa-solid fa-ellipsis"></i>
    </button>
    {% include 'files/ctx-menu.html' with file=file id_suffix='sidebar' %}
    {% is_mobile_browser request as mobile_browser %}
    {% if mobile_browser and native_app_arg %}
    <a href="{{ native_app_arg }}" class="sidebar-app-btn" title="Open in App">
        <i class="fa-solid fa-mobile-screen-button"></i>
    </a>
    {% endif %}

    <div id="file-{{ file.id }}" class="card-body sidebar-card">
        <h3 class="card-title mb-0 text-break">{{ file.name }}</h3>
        <row>
            <strong class="d-inline-block mb-1 text-primary-emphasis col-md-6 text-start">{{ file.mime }}</strong>
            <strong class="d-inline-block text-secondary-emphasis col-md-5 text-end">{% if file.meta.PILImageWidth %}{{ file.meta.PILImageWidth }} x {{ file.meta.PILImageHeight }}{% endif %}</strong>
        </row>
        <row>
            {% if file.info %}<p class="card-text mt-0">{{ file.info }}</p>{% endif %}
            <div class="d-inline-block col-md-5 text-start">
                <img src="{{ file_avatar_url }}" class="rounded-circle" height="26" width="26" alt="P"><span class="fw-semibold ps-1">{{ file.user.get_name }}</span>
            </div>
            <div class="d-inline-block col-md-6 text-end">
                {% if 'image' in file.mime %}
                    <i class="fa-solid fa-eye me-1"></i> {{ file.view }}
                {% else %}
                    <i class="fa-solid fa-eye fa-download me-1"></i> {{ file.view }}
                {% endif %}
                <i class="fa-regular fa-hard-drive ms-3 me-1"></i> {{ file.get_size }}
            </div>
        </row>
        <row>
            <div class="d-inline-block w-100 text-end pe-4">
                <i title="Private File" class="fa-solid fa-lock ms-2" id="previewIcon" {% if not file.private %}style="display: none"{% endif %}></i>
                <i title="Password Protected File" class="fa-solid fa-key ms-2 passwordStatus" {% if not file.password %}style="display: none"{% endif %}></i>
                <span title="File Expires in {{ file.expr }}" class="ms-2 expire-icon" {% if not file.expr %}style="display: none"{% endif %}><i class="fa-solid fa-hourglass"></i></span>
            </div>
        </row>
        <p class="card-text py-2 pt-0">Uploaded {{ file.date }}</p>

        {% if file.meta_preview and file.exif %}
            <p class="card-text text-body-secondary">
                {% if file.exif.DateTime %}<b>Captured On:</b> {{ file.exif.DateTimeOriginal|convert_str_date }}<br>{% endif %}
                {% if file.meta.GPSArea %}<b>Location:</b> {{ file.meta.GPSArea }}<br>{% endif %}
                {% if file.exif.GPSInfo.6 %}<b>Elevation:</b> {{ file.exif.GPSInfo.6|floatformat:1 }} m{% endif %}
            </p>
            {% if gps_lat and gps_lon %}
            <div class="mt-1 mb-2">
                <button class="map-toggle-btn" type="button" id="mapToggle" aria-expanded="false">
                    <i class="fa-solid fa-map-location-dot me-1"></i>
                    <span>Show on Map</span>
                    <i class="fa-solid fa-chevron-down map-chevron"></i>
                </button>
                <div class="map-collapse" id="mapCollapse">
                    <div id="preview-map" class="preview-map"
                         data-lat="{{ gps_lat }}"
                         data-lon="{{ gps_lon }}"></div>
                </div>
            </div>
            {% endif %}
            <p class="card-text text-body-secondary me-auto">
                {% if file.exif.Model %}<b>Camera:</b> {% if file.exif.Make not in file.exif.Model %}{{ file.exif.Make }} {% endif %}{{ file.exif.Model }}<br>{% endif %}
                {% if file.exif.LensModel %}<b>Lens: </b>{{ file.exif.LensModel }}<br>{% endif %}
                {% if file.exif.FocalLength %}<b>Focal Length:</b> {{ file.exif.FocalLength|floatformat:"0" }}mm<br>{% endif %}
                {% if file.exif.FNumber %}<b>Aperture:</b> 𝑓 {{ file.exif.FNumber }}<br>{% endif %}
                {% if file.exif.ISOSpeedRatings %}<b>ISO Speed:</b> {{ file.exif.ISOSpeedRatings }}<br>{% endif %}
                {% if file.exif.ExposureTime %}<b>Exposure Time:</b> {{ file.exif.ExposureTime }} s<br>{% endif %}
                {% if software %}<b>Software:</b> {{ software }}<br>{% endif %}
                {% if file.meta.VideoCodec %}<b>Codec:</b> {{ file.meta.VideoCodec|upper }}<br>{% endif %}
                {% if file.meta.FrameRate %}<b>Frame Rate:</b> {{ file.meta.FrameRate }} fps<br>{% endif %}
            </p>
        {% endif %}

        {% if full_context %}
        <row class="pt-3">
            <h6 class="pt-3">Tags</h6>
            <div class="tag-container position-relative" id="tags-file-{{ file.id }}">
                {% for ft in file.tags.all %}
                    <span class="badge rounded-pill ps-2 file-tag file-tag-active" data-tag="{{ ft.tag }}"{% if ft.xmp %} title="XMP tag (read-only)"{% endif %}>
                        {{ ft.tag }}
                        {% if not ft.xmp %}
                        <button class="btn p-0 mt-0 ms-1 remove-tag" data-tag="{{ ft.tag }}">
                            <i class="fa-solid fa-xmark text-small"></i>
                        </button>
                        {% endif %}
                    </span>
                {% endfor %}
                <span class="badge rounded-pill file-tag addto-tag-group">
                    <button class="btn p-0 addto-tag"><i class="fa-solid fa-plus"></i></button>
                    <span class="tag-add-container d-none">
                        <label for="tag-input-{{ file.id }}" class="visually-hidden">Add tag</label>
                        <input id="tag-input-{{ file.id }}" name="add-tag-input" class="tag-search-input" autocomplete="off" placeholder="Add tag…" maxlength="255">
                    </span>
                </span>
            </div>
        </row>
        {% elif tags %}
        <row class="pt-3">
            <h6 class="pt-3">Tags</h6>
            <div class="tag-container">
                {% for tag in tags %}
                    <span class="badge rounded-pill ps-2 file-tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </row>
        {% endif %}

        {% if render == 'markdown' %}
        <h6>View</h6>
        <div class="btn-group btn-group-sm w-100 mb-3" role="group" aria-label="Markdown view">
            <button type="button" class="btn btn-outline-secondary active" id="mdViewRendered">
                <i class="fa-solid fa-eye me-1" aria-hidden="true"></i>Rendered
            </button>
            <button type="button" class="btn btn-outline-secondary" id="mdViewSource">
                <i class="fa-solid fa-code me-1" aria-hidden="true"></i>Source
            </button>
        </div>
        {% endif %}

        {% if full_context %}
        <row class="pt-3">
            <h6 class="pt-3">Albums</h6>
            <div class="album-container position-relative" id="albums-file-{{ file.id }}">
                {% for album in file.albums.all %}
                    <span class="badge rounded-pill text-bg-primary ps-2 file-album-active" id="album-{{ album.id }}">
                        <a class="text-reset text-decoration-none p-0" href="/files/?view=gallery&album={{ album.id }}">{{ album.name }} </a>
                        <button id="remove-album-{{ album.id }}" class="btn p-0 mt-0 remove-album">
                            <i class="fa-solid fa-xmark text-small remove-album"></i>
                        </button>
                    </span>
                {% endfor %}
                <span class="badge rounded-pill text-bg-primary addto-album-group">
                    <button class="btn p-0 addto-album"><i class="fa-solid fa-plus"></i></button>
                    <span class="album-add-container d-none">
                        <input name="add-album-list" class="album-search-input" autocomplete="off" placeholder="Search albums…">
                    </span>
                    <ul class="dropdown-menu mt-1 album-search-results" style="min-width: 200px;"></ul>
                </span>
            </div>
        </row>
        {% endif %}
    </div>
</div>
