{% load static %}
{% load home_tags %}
{% load cache %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="any">

    {% block meta %}
        <title>Django Files - {% block title %}{% endblock %}</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'animate/animate.min.css' %}">
    <script type="text/javascript" src="{% static "bootstrap/theme.js" %}"></script>

    {% block head %}{% endblock %}

</head>
<body class="d-flex flex-column h-100">
{% block navbar %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark border-bottom"
         style="background-image: linear-gradient(15deg, {{ user.nav_color_1 }} 0%, {{ user.nav_color_2 }} 100%);">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:index' %}">
                <img src="{% static 'images/logo.png' %}" width="30" height="30" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link {% block home_active %}{% endblock %}"
                                            href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link {% block gallery_active %}{% endblock %}"
                                            href="{% url 'home:gallery' %}">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link {% block uppy_active %}{% endblock %}"
                                            href="{% url 'home:uppy' %}">Upload</a></li>
                    <li class="nav-item"><a class="nav-link {% block files_active %}{% endblock %}"
                                            href="{% url 'home:files' %}">Files</a></li>
                    <li class="nav-item"><a class="nav-link {% block shorts_active %}{% endblock %}"
                                            href="{% url 'home:shorts' %}">Shorts</a></li>
                    <li class="nav-item"><a class="nav-link {% block settings_active %}{% endblock %}"
                                            href="{% url 'home:settings' %}">Settings</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'oauth:login' %}?next={{ request.path }}" class="btn btn-outline-info" role="button">
                            Log In <i class="fas fa-sign-in-alt ms-2"></i></a>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
                                <i class="fas fa-angle-down mx-1"></i>
                                <img src="{{ user|avatar_url }}"
                                     class="rounded-circle mx-2 d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline" height="26" width="26" alt="P"></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#user-info-modal">
                                    <i class="fas fa-user-circle me-2"></i> Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'home:settings' %}">
                                    <i class="fa-solid fa-gears me-2"></i> Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item clip" data-clipboard-text="{% get_config 'SITE_URL' %}" href="javascript:">
                                    <i class="fa-solid fa-globe me-2"></i> Copy URL</a></li>
                                <li><a class="dropdown-item clip" data-clipboard-text="{{ user.authorization }}" href="javascript:">
                                    <i class="fa-solid fa-key me-2"></i> Copy Token</a></li>
                                {% if request.user.is_staff or request.user.is_superuser %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-success" href="{% url 'admin:index' %}">
                                        <i class="fa-solid fa-rocket me-2"></i> Admin</a></li>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-warning" role="button" target="_blank" id="flush-cache">
                                        <i class="fa-solid fa-toilet me-2"></i> Flush Cache</a></li>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item log-out text-danger" role="button">
                                    <i class="fas fa-sign-out-alt me-2"></i> Log Out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

<main class="flex-shrink-0">
    {% block body %}{% endblock %}
</main>


{% block js %}
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'font-awesome/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'clipboardjs/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jscookie/js.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
    {% if request.user.is_authenticated %}
        <script type="text/javascript" src="{% static 'main/js/user.js' %}"></script>
    {% endif %}
{% endblock %}

{% block tail %}{% endblock %}

</body>
</html>
