{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>

    <link rel="stylesheet" href="{% static 'css/code.css' %}">
    <link rel="stylesheet" href="{% static 'highlightjs/stackoverflow-dark.min.css' %}" id="code-dark">
    <link rel="stylesheet" href="{% static 'highlightjs/stackoverflow-light.min.css' %}" id="code-light" disabled>
</head>
<body>
    <pre></pre>
    <div id="raw-url" style="display: none;">{{ url }}</div>

    <script src="{% static 'highlightjs/highlight.min.js' %}"></script>
    <script src="{% static 'js/code.js' %}"></script>
</body>
</html>
