{% extends "main.html" %}
{% load home_tags %}
{% load static %}

{% block meta %}
    <title>{{ file.name }}</title>

    <meta name="theme-color" content="{{ file.user.default_color }}">

    <meta name="author" content="{{ file.user.username }}"/>
    <meta name="title" content="{{ file.name }}"/>
    <meta name="description" content="{{ file.info }}"/>

    <meta property="og:author" content="{{ file.user.username }}">
    <meta property="og:title" content="{{ file.name }}">
    <meta property="og:description" content="{{ file.info }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <meta property="twitter:title" content="{{ file.name }}">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    {#    <meta property="twitter:card" content="summary_large_image">#}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static "bootstrap/theme.js" %}"></script>

    <style>
        {{ css|safe }}
    </style>
{% endblock %}

{% block navbar %}{% endblock%}

{% block body %}
    <main class="flex-shrink-0">
        <div class="container-fluid py-3 px-4">
            {{ html|safe }}
        </div>
    </main>
{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //
        });
    </script>
{% endblock %}

{% block footer %}{% endblock %}
