{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block title %}Unlock {{ file.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    <main class="h-100">

        <video poster="{% static 'video/loop.jpg' %}" id="bgvid" playsinline autoplay muted loop>
            <source src="{% static 'video/loop.mp4' %}" type="video/mp4" id="bgvidsrc">
        </video>

        <div class="d-flex flex-column h-100 align-items-center">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                <div id="login-outer" class="animate__animated animate__fadeIn">
                    <div class="text-center">
                        <h2 class="text-white">Unlock</h2>
                        <p class="text-white text-truncate" style="max-width: 280px;">{{ file.name }}</p>
                    </div>

                    <form class="submit-once" method="GET" name="password-form" id="login-form" action="{{ file.preview_uri }}">
                        <div class="col mt-4">
                            <label class="sr-only" for="password"></label>
                            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordFeedback" required autofocus>
                                <span class="form-label floating-label text-white">password</span>
                            <div id="passwordFeedback" class="invalid-feedback">
                                Invalid Password.
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button id="unlock-button" class="btn btn-primary" type="submit">
                                <i class="fas fa-lock"></i> Unlock File</button>
                            <a role="button" class="btn btn-secondary" href="{% url 'home:index' %}">
                                <i class="fas fa-home"></i> Go Home</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block footer %}{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'js/password.js' %}"></script>
{% endblock %}

{% block backtotop %}{% endblock %}
