{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block title %}Unlock {{ file.name }}{% endblock %}

{% block htmltag %}data-bs-theme="dark"{% endblock %}
{% block themejs %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    <div id="tsparticles"></div>
    <main class="h-100">

        <video poster="{% static 'video/loop.jpg' %}" id="bgvid" playsinline autoplay muted loop>
            <source src="{{ site_settings.background_video }}" type="video/mp4" id="bgvidsrc">
        </video>

        <div class="d-flex flex-column h-100 align-items-center">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                <div id="login-outer" class="rounded rounded-4 m-auto p-4 animate__animated animate__backInDown animate__fast">
                    <div class="text-center">
                        <h2 class="text-white">Unlock{% if file %} File{% elif album %} Album{% endif %}</h2>
                        <p class="text-white text-truncate" style="max-width: 280px;">{% if file %}"{{ file.name }}"{% elif album %}"{{ album.name }}"{% endif %}</p>
                    </div>

                    <form class="submit-once" method="GET" name="password-form" id="password-form" action="{% if file %}{% url 'home:check-password-file' file.pk  %}{% elif album %}{% url 'home:check-password-album' album.pk  %}{% endif %}">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-describedby="Password">
                            <label for="password">Password</label>
                        </div>
                        <div id="passwordFeedback" class="invalid-feedback" aria-describedby="Username or Password feedback.">
                            Invalid Username or Password.
                        </div>
                        {% csrf_token %}
                        <div class="d-grid gap-2 mt-3">
                            <button id="unlock-button" class="btn btn-lg btn-primary opacity-75 d-flex align-items-center hvr-grow" type="submit">
                                <i class="fas fa-lock position-absolute start-1 ms-2 animate__animated animate__rubberBand animate__delay-1s"></i> <span class="w-100 text-center">Unlock File</span></button>
                            <a role="button" class="btn btn-lg btn-secondary opacity-75 d-flex align-items-center hvr-grow" href="{% url 'home:index' %}">
                                <i class="fas fa-home position-absolute start-1 ms-2 animate__animated animate__rubberBand animate__delay-1s"></i> <span class="w-100 text-center">Go Home</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block footer %}{% endblock %}

{% block tail %}
    {{ site_settings.login_background|json_script:"login_background" }}
    {{ site_settings.background_picture|json_script:"background_picture" }}
    {{ site_settings.tsparticles_enabled|json_script:"tsparticles_enabled" }}
    {{ site_settings.tsparticles_config|json_script:"tsparticles_config" }}
    <script type="text/javascript" src="{% static 'dist/tsparticles/tsparticles.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/password.js' %}"></script>
{% endblock %}

{% block backtotop %}{% endblock %}
