{% extends "main.html" %}
{% load home_tags %}

{% block title %}{{ file.name }}{% endblock %}

{% block meta %}
    <meta name="theme-color" content="{{ file.user.default_color }}">

    <meta name="author" content="{{ file.user.username }}"/>
    <meta name="title" content="{{ file.name }}"/>
    <meta name="description" content="{{ file.info }}"/>

    <meta property="og:author" content="{{ file.user.username }}">
    <meta property="og:title" content="{{ file.name }}">
    <meta property="og:description" content="{{ file.info|default:"" }}{% if file.user.show_exif_preview %}{% if file.exif.Model %}
    Camera: {% if file.exif.Make not in file.exif.Model %}{{ file.exif.Make }} {% endif %}{{ file.exif.Model }}{% endif %}
    {{ file.exif.DateTimeOriginal|convert_str_date }}{% if file.meta.GPSArea %}
    {{ file.meta.GPSArea }}{% endif %}{% if file.exif.GPSInfo.6 %}
    Elevation: {{ file.exif.GPSInfo.6|floatformat:1 }} m{% endif %}

    {% if file.exif.FocalLength %}{{ file.exif.FocalLength|floatformat:'0' }}mm{% endif %}{% if file.exif.FNumber %} &fnof; {{ file.exif.FNumber }}{% endif %}
    {% if file.exif.ISOSpeedRatings %}ISO Speed: {{ file.exif.ISOSpeedRatings }}{% endif %}
    {% if file.exif.ExposureTime %}Exposure Time: {{ file.exif.ExposureTime }} s{% endif %}
    {% endif %}{% if file.meta.PILImageWidth %}
    Resolution: {{ file.meta.PILImageWidth }} x {{ file.meta.PILImageHeight }}{% endif %}
    {{ file.mime }} uploaded by {% if file.user.first_name %}{{ file.user.first_name }}{% else %}{{ file.user.username }}{% endif %} on {{ file.date }}
    ">

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:title" content="{{ file.name }}">
    {% if render == 'image' %}
        <meta property="og:image" content="{{ file.get_url }}">
        <meta property="og:type" content="website">
        <meta property="twitter:card" content="summary_large_image">
    {% elif render == 'video' %}
        <meta property="og:video" content="{{ file.get_url }}">
        <meta property="og:type" content="video.other">
        <meta property="twitter:card" content="player">
    {% elif render == 'audio' %}
        <meta property="og:audio" content="{{ file.get_url }}">
        <meta property="og:type" content="music.song">
        <meta property="twitter:card" content="player">
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}
{% endblock %}

{% block head %}
    <style>
        {{ css|safe }}
    </style>
{% endblock %}

{% block nav1color %}{{ file.user.nav_color_1 }}{% endblock %}
{% block nav2color %}{{ file.user.nav_color_2 }}{% endblock %}

{% block body %}
    <div class="container-fluid py-2 px-2">
        <div class="card">
            <div class="row g-0">
                <div class="col-lg-9">
                    {# TODO: Fix this so that we dont check mime type in the template and the view #}
                    {% if render == 'image' %}
                        <img src="{{file.get_url}}" alt="{{ file.name }}" class="card-img-left img-fluid">
                    {% elif render == 'video' %}
                        <video class="mw-100 pt-2 ps-2 pe-2" controls>
                            <source src="{{ file.get_url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% elif render == 'audio' %}
                        <audio class="w-100" controls>
                            <source src="{{ file.get_url }}" type="{{ file.mime }}">
                            Your browser does not support the audio tag.
                        </audio>
                    {% elif render == 'text' %}
                        <pre class="p-3"><code>{{ text_preview }}</code></pre>
                    {% elif render == 'code' %}
                        {% if html %}
                            <div class="container-fluid py-3 px-4">
                                {{ html|safe }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="container card-body text-center"><i class="fa-10x fa-solid fa-file mx-auto"></i></div>
                    {% endif %}
                </div>
            <div class="col-lg-3 d-flex flex-column">
                <div class="card-body">
                    <h3 class="card-title">{{ file.name }}</h3>
                    <strong class="d-inline-block mb-2 text-primary-emphasis">{{ file.mime }}</strong>
                    {% if file.meta.PILImageWidth %}
                    <p><strong class="d-inline-block text-secondary-emphasis">{{ file.meta.PILImageWidth }} x {{ file.meta.PILImageHeight }}</strong></p>
                    {% endif %}
                    {% if file.info %}<p class="card-tex mt-0">{{ file.info }}</p>{% endif %}
                    <p class="card-text mt-0">
                        {% if 'image' in file.mime %}
                            <i class="fa-solid fa-eye me-1"></i> {{ file.view }}
                        {% else %}
                            <i class="fa-solid fa-eye fa-download me-1"></i> {{ file.view }}
                        {% endif %}
                        <i class="fa-regular fa-hard-drive ms-3 me-1"></i>  {{ file.get_size }}</p>
                    <p class="card-text mx-0 mb-0">Uploader: {{ file.user.first_name|default:file.user.username }}</p>
                    <p class="card-text">Uploaded {{ file.date }}</p>
                    {% if file.user.show_exif_preview and file.exif %}
                        <p class="card-text text-body-secondary">
                            {% if file.exif.DateTime %}<b>Taken On:</b> {{ file.exif.DateTimeOriginal|convert_str_date }}<br>{% endif %}
                            {% if file.exif.Model %}<b>Camera:</b> {% if file.exif.Make not in file.exif.Model %}{{ file.exif.Make }} {% endif %}{{ file.exif.Model }}<br>{% endif %}
                            {% if file.meta.GPSArea %}<b>Location:</b> {{ file.meta.GPSArea }}<br>{% endif %}
                            {% if file.exif.GPSInfo.6 %}<b>Elevation:</b> {{ file.exif.GPSInfo.6|floatformat:1 }} m{% endif %}</p>
                        <p class="card-text text-body-secondary me-auto">
                            {% if file.exif.LensModel %}<b>Lens: </b>{{ file.exif.LensModel }}<br>{% endif %}
                            {% if file.exif.FocalLength %}<b>Focal Length:</b> {{ file.exif.FocalLength|floatformat:"0" }}mm<br>{% endif %}
                            {% if file.exif.FNumber %}<b>Aperture:</b> 𝑓 {{ file.exif.FNumber }}<br>{% endif %}
                            {% if file.exif.ISOSpeedRatings %}<b>ISO Speed:</b> {{ file.exif.ISOSpeedRatings }}<br>{% endif %}
                            {% if file.exif.ExposureTime %}<b>Exposure Time:</b> {{ file.exif.ExposureTime }} s{% endif %}</p>
                    {% endif %}
                    <div class="row g-2 text-center mt-auto">
                        <div class="col-12 ">
                            <a class="btn btn-primary btn-lg d-block" role="button"
                               href="{{ file.get_url }}" download="{{ file.name }}">
                                <i class="fa-solid fa-download me-2"></i> Download</a></div>
                        {% if code or text_preview %}
                            <div class="col-12 ">
                                <a class="clip btn btn-success btn-lg d-block" role="button"
                                   data-clipboard-text="{% if code %}{{ code }}{% else %}{{ text_preview }}{% endif %}">
                                    <i class="fa-regular fa-file-lines me-2"></i> Copy Text</a></div>
                        {% endif %}
                        <div class="col-12 ">
                            <a class="btn btn-secondary btn-lg d-block" role="button"
                               href="{{ file.get_url }}">
                                <i class="fa-solid fa-eye me-2"></i> View Raw</a></div>
                        <div class="col-12 ">
                            <a class="clip btn btn-outline-secondary btn-lg d-block" role="button"
                               data-clipboard-text="{{ request.scheme }}://{{ request.get_host }}{{ file.preview_uri }}">
                                <i class="fa-solid fa-link me-2"></i> Preview URL</a></div>
                        <div class="col-12 ">
                            <a class="clip btn btn-outline-secondary btn-lg d-block" role="button"
                               data-clipboard-text="{{ request.scheme }}://{{ request.get_host }}{{ file.file.get_url }}}">
                                <i class="fa-solid fa-link me-2"></i> Raw URL</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block tail %}{% endblock %}
