{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% block title %}{{ file.name }}{% endblock %}

{% block meta %}
    <meta name="theme-color" content="{{ file.user.default_color }}">

    <meta name="author" content="{{ file.user.get_name }}"/>
    <meta name="title" content="{{ file.name }}"/>
    <meta name="description" content="{{ file.info }}"/>

    <meta property="og:author" content="{{ file.user.get_name }}">
    <meta property="og:title" content="{{ file.name }}">
    <meta property="og:description" content="{{ file.info|default:"" }}{% if file.meta_preview %}{% if file.exif.Model %}
Camera: {% if file.exif.Make not in file.exif.Model %}{{ file.exif.Make }} {% endif %}{{ file.exif.Model }}{% endif %}{% if file.exif.DateTimeOriginal%}
{{ file.exif.DateTimeOriginal|convert_str_date }}{% if file.meta.GPSArea %}{% endif %}{% if file.meta.GPSArea %}
{{ file.meta.GPSArea }}{% endif %}{% if file.exif.GPSInfo.6 %}{% endif %}{% if file.exif.GPSInfo.6 %}
Elevation: {{ file.exif.GPSInfo.6|floatformat:1 }} m{% endif %}

{% endif %}{% if file.exif.FocalLength %}{{ file.exif.FocalLength|floatformat:'0' }}mm{% endif %}{% if file.exif.FNumber %} &fnof; {{ file.exif.FNumber }}{% endif %}{% if file.exif.ISOSpeedRatings %}
ISO Speed: {{ file.exif.ISOSpeedRatings }}{% endif %}{% if file.exif.ExposureTime %}
Exposure Time: {{ file.exif.ExposureTime }} s{% endif %}
{% endif %}{% if file.meta.PILImageWidth %}
Resolution: {{ file.meta.PILImageWidth }} x {{ file.meta.PILImageHeight }}{% endif %}
{{ file.mime }} uploaded by {{ file.user.get_name }} on {{ file.date|date:"D \t\h\e jS\, M Y \a\t f a T" }}">

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:title" content="{{ file.name }}">
    {% if render == 'image' %}
        <meta property="og:image" content="{{ static_meta_url|safe }}">
        <meta property="og:type" content="website">
        <meta property="twitter:card" content="summary_large_image">
    {% elif render == 'video' %}
        <meta property="og:video" content="{{ static_meta_url|safe }}">
        <meta property="og:type" content="video.other">
        <meta property="twitter:card" content="player">
    {% elif render == 'audio' %}
        <meta property="og:audio" content="{{ static_meta_url|safe }}">
        <meta property="og:type" content="music.song">
        <meta property="twitter:card" content="player">
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}
{% endblock %}

{% block head %}
    <style>
        {{ css|safe }}
    </style>
    <link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}

{% block nav1color %}{{ file.user.nav_color_1 }}{% endblock %}
{% block nav2color %}{{ file.user.nav_color_2 }}{% endblock %}

{% block body %}
    <div class="container-fluid py-2 px-2" id="container-main">
        <div class="card">
            <div class="row">
                    {# TODO: Fix this so that we dont check mime type in the template and the view #}
                    <div class="container card-img">
                        {% if render == 'image' %}
                            <img src="{{ static_url }}" alt="{{ file.name }}" class="card-img">
                        {% elif render == 'video' %}
                            <video class="mw-100 pt-2 ps-2 pe-2" controls>
                                <source src="{{ static_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% elif render == 'audio' %}
                            <audio class="w-100" controls>
                                <source src="{{ static_url }}" type="{{ file.mime }}">
                                Your browser does not support the audio tag.
                            </audio>
                        {% elif render in 'text,code' %}
                            <link rel="stylesheet" href="{% static 'highlightjs/stackoverflow-dark.min.css' %}" id="code-dark">
                            <link rel="stylesheet" href="{% static 'highlightjs/stackoverflow-light.min.css' %}" id="code-light" disabled>
                            <script src="{% static 'highlightjs/highlight.min.js' %}"></script>
                            <pre class="pt-3 ps-3"><code id="text-preview"><i class="fas fa-spinner fa-pulse"></i></code></pre>
                        {% else %}
                            <div class="container card-body text-center"><i class="fa-10x fa-solid fa-file mx-auto"></i></div>
                        {% endif %}
                        <button class="openbtn" id="openSidebar"><i class="fa-solid fa-square-caret-left"></i></button>
                            <div class="context-placement" data-bs-toggle="dropdown" id="context-placement">
                                <i class="fa-regular fa-square-caret-down"></i>
                                <button class="file-context-dropdown my-0 py-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" hidden></button>
                                {% include 'files/file-context-menu.html' with file=file %}
                            </div>
                    </div>
            </div>
            <div id="previewSidebar" class="sidebar">
                <a role="button" class="closebtn" id="closeSidebar">&times;</a>
                <div id="file-{{ file.id }}" class="card-body sidebar-text">
                    <h3 class="card-title">{{ file.name }}</h3>
                    <strong class="d-inline-block mb-2 text-primary-emphasis">{{ file.mime }}</strong>
                    {% if file.meta.PILImageWidth %}
                    <p><strong class="d-inline-block text-secondary-emphasis">{{ file.meta.PILImageWidth }} x {{ file.meta.PILImageHeight }}</strong></p>
                    {% endif %}
                    {% if file.info %}<p class="card-tex mt-0">{{ file.info }}</p>{% endif %}
                    <p class="card-text mt-0">
                        {% if 'image' in file.mime %}
                            <i class="fa-solid fa-eye me-1"></i> {{ file.view }}
                        {% else %}
                            <i class="fa-solid fa-eye fa-download me-1"></i> {{ file.view }}
                        {% endif %}
                        {% if file.info %}<p class="card-tex mt-0">{{ file.info }}</p>{% endif %}
                        <p class="card-text mt-0">
                            {% if 'image' in file.mime %}
                                <i class="fa-solid fa-eye me-1"></i> {{ file.view }}
                            {% else %}
                                <i class="fa-solid fa-eye fa-download me-1"></i> {{ file.view }}
                            {% endif %}
                            <i class="fa-regular fa-hard-drive ms-3 me-1"></i>  {{ file.get_size }}
                            <i id="privateStatus" title="Private File" class="fa-solid fa-lock ms-2" {% if not file.private %}style="display: none"{% endif %}></i>
                            <i id="passwordStatus" title="Password Protected File" class="fa-solid fa-key ms-2" {% if not file.password %}style="display: none"{% endif %}></i>
                            <i id="expire-status-icon" title="File Expires in {{ file.expr }}" class="fa-solid fa-hourglass ms-2" {% if not file.expr %} style="display: none"{% endif %}></i>
                        </p>
                        <p class="card-text mx-0 mb-0">Uploader: {{ file.user.get_name }}</p>
                        <p class="card-text">Uploaded {{ file.date }}</p>
                        {% if file.meta_preview and file.exif %}
                            <p class="card-text text-body-secondary">
                                {% if file.exif.DateTime %}<b>Taken On:</b> {{ file.exif.DateTimeOriginal|convert_str_date }}<br>{% endif %}
                                {% if file.exif.Model %}<b>Camera:</b> {% if file.exif.Make not in file.exif.Model %}{{ file.exif.Make }} {% endif %}{{ file.exif.Model }}<br>{% endif %}
                                {% if file.meta.GPSArea %}<b>Location:</b> {{ file.meta.GPSArea }}<br>{% endif %}
                                {% if file.exif.GPSInfo.6 %}<b>Elevation:</b> {{ file.exif.GPSInfo.6|floatformat:1 }} m{% endif %}</p>
                            <p class="card-text text-body-secondary me-auto">
                                {% if file.exif.LensModel %}<b>Lens: </b>{{ file.exif.LensModel }}<br>{% endif %}
                                {% if file.exif.FocalLength %}<b>Focal Length:</b> {{ file.exif.FocalLength|floatformat:"0" }}mm<br>{% endif %}
                                {% if file.exif.FNumber %}<b>Aperture:</b> 𝑓 {{ file.exif.FNumber }}<br>{% endif %}
                                {% if file.exif.ISOSpeedRatings %}<b>ISO Speed:</b> {{ file.exif.ISOSpeedRatings }}<br>{% endif %}
                                {% if file.exif.ExposureTime %}<b>Exposure Time:</b> {{ file.exif.ExposureTime }} s{% endif %}</p>
                        {% endif %}
                        <div class="row g-2 text-center mt-auto">
                            {% if code or text_preview %}
                                <div class="col-12 ">
                                    <a class="clip btn btn-success btn-lg d-block" role="button"
                                    data-clipboard-text="{% if code %}{{ code }}{% else %}{{ text_preview }}{% endif %}">
                                        <i class="fa-regular fa-file-lines me-2"></i> Copy Text</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'files/delete-modal.html' %}
    {% include 'files/set-password-modal.html' %}
    {% include 'files/set-expr-modal.html' %}
    <table class="d-none">{% include 'files/table-tr.html' with nocontextmenu=True %}</table>
{% endblock %}

{% block tail %}
    {% if render in 'text,code' %}
        <script type="text/javascript">
            fetch(
                '{{ request.scheme }}://{{ request.get_host }}{% url 'home:url-raw-redirect' file.file.name %}{% if file.password %}?password={{ file.password }}{% endif %}',
            )
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then((data) => {
                    let textPreview = $('#text-preview').text(data);
                    let theme = document.documentElement.getAttribute('data-bs-theme');
                    if (theme !== 'dark') {
                        $('#code-dark').prop('disabled', true);
                        $('#code-light').prop('disabled', false);
                    }
                    textPreview.each(function (i, block) {
                        hljs.highlightElement(block);
                    });
                })
                .catch((error) => {
                    let message = `Error fetching {{ file.file.name }}: ${error}`;
                    show_toast(message, 'danger');
                });
        </script>
    {% endif %}
    {% if request.user.is_authenticated %}
        <script type="text/javascript" src="{% static 'js/file-context-menu.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'dist/js-cookie/js.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/preview.js' %}"></script>
{% endblock %}
