{% load static %}
{% load home_tags %}
{% if gps_lat and gps_lon %}<link rel="stylesheet" href="{% static 'dist/leaflet/leaflet.css' %}">{% endif %}
{% if render in 'text,code,markdown' %}
<link rel="stylesheet" href="{% static 'highlightjs/stackoverflow-dark.min.css' %}" id="panel-code-dark">
<link rel="stylesheet" href="{% static 'highlightjs/stackoverflow-light.min.css' %}" id="panel-code-light" disabled>
{% endif %}
{% if render == 'markdown' %}
<link rel="stylesheet" href="{% static 'dist/github-markdown-css/github-markdown.css' %}" id="panel-github-md">
{% endif %}

<div class="preview-panel-root card h-100 border-0 rounded-0"
     data-render="{{ render }}"
     data-file-id="{{ file.id }}"
     data-file-url="{{ file.preview_uri }}"
     {% if render in 'text,code,markdown' %}data-raw-url="{% url 'home:url-raw-redirect' file.file.name %}{% if file.password %}?password={{ file.password }}{% endif %}"{% endif %}
     {% if gps_lat and gps_lon %}data-gps-lat="{{ gps_lat }}" data-gps-lon="{{ gps_lon }}"{% endif %}>

    {% include 'embed/_preview_media.html' with media_transition='0.3s' md_extra_class='mt-5' %}
    {% include 'embed/_preview_chrome.html' %}
</div>

{% include 'embed/_preview_album_badge.html' %}
