# Production

boto3
celery>=5,<6
channels[daphne]
channels-redis
django>=4,<5
django-celery-beat
django-redis
django-storages==1.14
django-cors-headers
duo_universal
geopy
gunicorn
httpx
markdown
mysqlclient
Pillow
psycopg[binary]
python-decouple
python-dotenv
python-magic
pytimeparse2
sentry-sdk
uvicorn[standard]
validators


# Development

django-debug-toolbar>=4,<5
django-extensions
pytest-playwright
watchdog
Werkzeug


# Tools

#black
coverage
flake8
#mypy
packaging  # TODO: Check This
ruff
