# Production

boto3
celery>=5,<6
channels[daphne]==4.2.0
channels-redis<5
defusedxml
django>=5.1,<5.2
django-celery-beat<3
django-redis>=5,<6
django-storages==1.14
django-cors-headers<5
duo_universal
geopy
gunicorn
httpx
markdown
mysqlclient
packaging
Pillow
psycopg[binary]
python-decouple
python-dotenv
python-magic
pytimeparse2
sentry-sdk
ua-parser[regex]
uvicorn[standard]
validators


# Development

django-debug-toolbar<6
django-extensions
watchdog
Werkzeug


# Tools

bandit
black
coverage
flake8
pytest-playwright
mypy
ruff
