
<div class="modal" id="fileUploadModal" tabindex="-1" aria-labelledby="fileUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fileUploadModalLabel">Upload New File</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% comment %} <div class="modal-body">Are you sure you want to delete this file?</div> {% endcomment %}
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-danger" id="confirm-delete">
    Delete <i class="fa-regular fa-trash-can ms-1"></i></button> {% endcomment %}
                <div class="container-fluid py-4 h-100">
                    <div id="uppy"></div>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->

<script type="text/javascript">
    const uploadUrl = "{% url 'api:upload' %}"
</script>
