{% load home_tags %}
{% load static %}

<p class="d-xl-none text-muted mb-0"><em>Some columns hidden due to narrow viewport.</em></p>
<table class="table table-hover table-responsive" id="files-table">
    <caption class="sr-only">List of Files</caption>
    <thead>
    <tr>
        <th scope="col" class="d-none d-sm-table-cell text-center" title="Database ID">ID</th>
        <th scope="col" class="" title="File Name">File</th>
        <th scope="col" class="d-none d-sm-table-cell" title="File Size">Size</th>
        <th scope="col" class="d-none d-lg-table-cell" title="MIME Type">MIME</th>
        <th scope="col" class="d-none d-xl-table-cell" title="UTC Date">Date</th>
        <th scope="col" class="d-none d-md-table-cell" title="File Expire">Expire</th>
        <th scope="col" class="d-none d-sm-table-cell" title="Password"><i class="fa-solid fa-key"></i></th>
        <th scope="col" class="d-none d-sm-table-cell" title="Private"><i class="fa-solid fa-lock"></i></th>
        <th scope="col" class="d-none d-sm-table-cell" title="Views"><i class="fa-solid fa-eye"></i></th>
        <th scope="col" class="text-center" title="Context Menu"><i class="fa-solid fa-ellipsis-vertical"></i></th>
    </tr>
    </thead>
    {% for file in files %}
        {% include 'files/table-tr.html' with file=file %}
    {% endfor %}
</table>

{% include 'files/delete-modal.html' %}
{% include 'files/set-password-modal.html' %}
{% include 'files/set-expr-modal.html' %}
