
<div class="modal" id="fileUploadModal" tabindex="-1" aria-labelledby="fileUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fileUploadModalLabel">Upload New File</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <div class="container-fluid h-100">
                    <form id="upload_inputs" class="row justify-content-center">
                        <div class="col col-md-12 pb-3 align-self-center" id="dest_album">
                            <label for="upload_album" class="form-label">Destination Album</label>
                            <select class="form-select form-select-lg" id="upload_album" name="upload_album"
                                aria-describedby="upload_album-help upload_album-invalid">
                                <option value="0">None</option>
                            </select>
                            <div id="upload_album_name_format-invalid" class="invalid-feedback"></div>
                            <div id="upload_album-help" class="form-text">
                                Select an album to add uploads to.
                            </div>
                        </div>
                    </form>
                    <div id="uppy"></div>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->

<script type="text/javascript">
    const uploadUrl = "{% url 'api:upload' %}"
</script>
