
<div class="modal fade" id="fileExpireModal" tabindex="-1" aria-labelledby="fileExpireModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fileExpireModalLabel">Set File Expiration</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="row" id="set-expr-form" name="set-expr-form">
                <input type="hidden" name="pk" value="{{ file.id }}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-primary">Set the file's expiration. For examples, see
                                <a href="https://github.com/onegreyonewhite/pytimeparse2#pytimeparse2-time-expression-parser"
                                   target="_blank" rel="noopener">this README.md</a>.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="expr" class="form-label">Expiration</label>
                            <div class="input-group w-auto">
                                <input type="text" class="form-control" id="expr" name="expr" autocomplete="off" value="{{ file.expr|default:'' }}"
                                       aria-describedby="expr-invalid">
                            </div>
                            <div id="expr-invalid" class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="confirm-expire-btn">
                        Set File Expiration <i class="fas fa-lock ms-1"></i></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="filePasswordModal" tabindex="-1" aria-labelledby="filePasswordModalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="filePasswordModalModalLabel">Set File Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="row" id="set-password-form" name="set-password-form">
                <input type="hidden" id="pk" name="pk" value="">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-primary">Setting a password will prevent others from accessing the file without the password.
                                If the file is private, this will allow others to access the file with the password.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group w-auto">
                                <input type="text" class="form-control" id="password" name="password" autocomplete="off" aria-describedby="password-invalid">
                                <button type="button" title="Umask password." id="unMaskPassword" class="btn btn-secondary btn-sm"><i class="fa-solid fa-eye me-1"></i></button>
                                <button type="button" title="Copy Password" id="copyPassword" class="btn btn-warning btn-sm"><i class="fa-regular fa-copy"></i></button>
                                <button type="button" title="Generate new password." id="generatePassword" class="btn btn-info btn-sm"><i class="fa-solid fa-key"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        Set Password <i class="fas fa-lock ms-1"></i></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="fileDeleteModal" tabindex="-1" aria-labelledby="fileDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fileDeleteModalLabel">Delete File</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this file?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteFileBtn">Delete
                    <i class="fa-regular fa-trash-can ms-1"></i></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
