{% load home_tags %}
{% load static %}

<p class="d-xl-none text-muted mb-0"><em>Some columns hidden due to narrow viewport.</em></p>
<table class="display responsive nowrap table table-hover table-responsive mb-0" id="files-table" style="width:100%">
    <caption class="visually-hidden">List of Files</caption>
    <thead>
    <tr>
        <th scope="col" class="" title="Database ID">ID</th>
        <th scope="col" class="" title="File Name">File</th>
        <th scope="col" class="" title="File Size">Size</th>
        <th scope="col" class="" title="MIME Type">MIME</th>
        <th scope="col" class="" title="UTC Date">Date</th>
        <th scope="col" class="" title="File Expire">Expire</th>
        <th scope="col" class="" title="Password"><i class="fa-solid fa-key"></i></th>
        <th scope="col" class="" title="Private"><i class="fa-solid fa-lock"></i></th>
        <th scope="col" class="" title="Views"><i class="fa-solid fa-eye"></i></th>
        <th scope="col" class="text-center" title="Context Menu"><i class="fa-solid fa-ellipsis-vertical"></i></th>
    </tr>
    </thead>
</table>

<div class="d-none">
    <input type="hidden" value="{{ site_settings.site_url }}" id="site_url">
    <i class="fa-solid fa-lock me-1"></i>
    <i class="fa-solid fa-key me-1"></i>
    <i class="fa-regular fa-hourglass me-1 expireStatus"></i>
    <i class="fa-regular fa-square-caret-down"></i>
    <i class="fa-solid fa-lock-open fa-fw me-2 privateIcon"></i>
    <img src="{% static 'images/assets/loading.gif' %}" class="img-responsive gallery-image" alt="Loading Files...">
    <div class="dj-file-link">
        <span class="d-none d-sm-inline">
            <a class="link-body-emphasis clip dj-file-link-clip" role="button">
                <i class="fa-regular fa-clipboard"></i></a>
        </span>
        <span class="d-inline-block d-xxl-inline">
            <span class="d-inline-block d-lg-inline">
                <a class="link-body-emphasis dj-file-link-ref"></a>
            </span>
        </span>
    </div>
</div>