{% load tz %}
{% load home_tags %}

{% if file.file %}
<tr id="file-{{ file.id }}">
    <td class="d-none d-sm-table-cell text-center align-middle">{{ file.id }}</td>

    <td class="align-middle">
        <span class="d-none d-sm-inline">
            <a class="clip" role="button" data-clipboard-text="{{ request.scheme }}://{{ request.get_host }}{{ file.preview_uri }}">
                <i class="fa-regular fa-clipboard text-white ms-2"></i></a></span>
        <a class="link-body-emphasis lead" role="button" href="{{ file.preview_uri }}" >
            {{ file.name }}</a></td>

    <td class="d-none d-sm-table-cell align-middle">
        <a class="clip link-body-emphasis text-decoration-none" role="button"
           data-clipboard-text="{{ file.get_size }}">{{ file.get_size }}</a></td>

    <td class="d-none d-md-table-cell align-middle">
        <a id="expireText" class="clip link-body-emphasis text-decoration-none" role="button"
           data-clipboard-text="{{ file.expr|default:'Never' }}">{{ file.expr|default:'Never' }}</a></td>

    <td class="d-none d-lg-table-cell align-middle">
        <a class="clip link-body-emphasis text-decoration-none" role="button"
           data-clipboard-text="{{ file.mime }}">{{ file.mime }}</a></td>

    <td class="d-none d-xl-table-cell align-middle">
        <a class="clip link-body-emphasis text-decoration-none" role="button"
           data-clipboard-text="{{ file.date|localtime }}">{{ file.date|localtime }}</a></td>

    <td class="d-none d-sm-table-cell align-middle"><i id="passwordStatus" class="fa-solid fa-key text-warning-emphasis"{% if not file.password %} style="display: none"{% endif %}></i></td>

    <td class="d-none d-sm-table-cell align-middle"><i id="privateStatus" class="fa-solid fa-lock text-warning-emphasis"{% if not file.private %} style="display: none"{% endif %}></i></td>

    <td class="d-none d-sm-table-cell align-middle">
        <a class="clip link-body-emphasis text-decoration-none" role="button"
           data-clipboard-text="{{ file.view }}">{{ file.view }}</a></td>

    <td class="d-none d-sm-table-cell text-center">
        {% include 'include/file-context-menu.html' with file=file %}
        <!-- This hidden password field is used to pass the password value to model on the files table.
            We should probably fetch this live instead to not store all pws in the page html -->
        <input type="hidden" class="file-password-value" value="{{ file.password }}">
    </td>
</tr>

{% endif %}
