<form id="upload_inputs" class="row justify-content-center">
    <div class="col col-md-12 pb-3 align-self-center" id="dest_album">
        <label for="upload_albums" class="form-label">Destination Album</label>
        <select class="form-select form-select-lg" id="upload_albums" name="upload_albums"
            aria-describedby="upload_albums-help upload_albums-invalid">
            <option value="0">None</option>
        </select>
        <div id="upload_albums_name_format-invalid" class="invalid-feedback"></div>
        <div id="upload_albums-help" class="form-text">
            Select an album to add uploads to.
        </div>
    </div>
</form>
<div id="uppy"></div>