.gallery-image {
    max-height: 512px;
    max-width: 512px;
    width: 100%;
}

.text-shadow {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.text-stroke {
    stroke: black;
    stroke-width: 20px;
}

.dt-processing {
    position: relative !important;
    top: 100% !important;
}
