.gallery-image {
    max-height: 512px;
    max-width: 512px;
    width: 100%;
}

.text-shadow {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.text-stroke {
    stroke: black;
    stroke-width: 20px;
}

.dt-processing {
    position: relative !important;
    top: 100% !important;
}

.gallery-outer {
    position: relative;
    /* position:
        0 0
        12.5px 0
        12.5px -12.5px
        0 12.5px; */
    background-color: #495057;
    background-size: 25px 25px;
    background-image: linear-gradient(
            45deg,
            rgb(145 145 145) 25%,
            transparent 25%
        ),
        linear-gradient(135deg, rgb(145 145 145) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgb(145 145 145) 75%),
        linear-gradient(135deg, transparent 75%, rgb(145 145 145) 75%);
}

.image-labels {
    position: absolute;
    bottom: 4px;
    left: 6px;
    pointer-events: none;
}

.image-icons {
    position: absolute;
    top: 4px;
    left: 6px;
    pointer-events: none;
}

.gallery-inner {
    position: relative;
    overflow: hidden;
}

.gallery-ctx {
    position: absolute;
    top: 0;
    right: 8px;
}

.gallery-ctx-toggle {
    background-color: transparent;
    border: none;
    width: 20px;
    text-align: center;
}
