/* Back to Top Button */
#back-to-top {
    position: fixed;
    bottom: 56px;
    right: 24px;
    display: none;
    z-index: 1005;
}

/* Bring Menu Above Uppy Menu */
.dropdown-menu {
    z-index: 1005;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.file-context-dropdown-menu {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

[data-bs-theme='dark'] .dropdown-menu {
    background-color: rgba(0 0 0 / 70%);
}

[data-bs-theme='dark'] .file-context-dropdown-menu {
    background-color: rgba(0 0 0 / 70%);
}

[data-bs-theme='light'] .dropdown-menu {
    background-color: rgba(200 200 200 / 70%);
}

[data-bs-theme='light'] .file-context-dropdown-menu {
    background-color: rgba(200 200 200 / 70%);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover {
    transform: scale(1.05);
}
