body {
    margin: 0;
    background: #000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    filter: blur(150px);
    background: url('/static/video/loop.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#login-outer {
    border-radius: 25px;
    background: rgba(0 0 0 / 30%);
    width: 500px;
    margin: 10px auto;
    padding: 25px;
    filter: drop-shadow(15px -15px 12px #000000);
}

.form-control {
    background: rgba(0 0 0 / 30%);
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: -60px;
  left: 5px;
  font-size: 14px;
  opacity: 1;
}

.floating-label {
  position: relative;
  pointer-events: none;
  top: -30px;
  left: 10px;
  transition: 0.2s ease all;
}


/*.stopfade {*/
/*    opacity: .5;*/
/*}*/
/*@media screen and (max-width: 500px) {*/
/*    div{width:70%;}*/
/*}*/
/*@media screen and (max-device-width: 800px) {*/
/*    html { background: url('/static/video/loop.jpg') #000 no-repeat center center fixed; }*/
/*    #bgvid { display: none; }*/
/*}*/
/*.vertical-alignment-helper {*/
/*    display:table;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    pointer-events:none;*/
/*}*/
/*.vertical-align-center {*/
/*    !* To center vertically *!*/
/*    display: table-cell;*/
/*    vertical-align: middle;*/
/*    pointer-events:none;*/
/*}*/
/*.modal-content {*/
/*    !* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it *!*/
/*    width:inherit;*/
/*    height:inherit;*/
/*    !* To center horizontally *!*/
/*    margin: 0 auto;*/
/*    pointer-events:all;*/
/*}*/
/*.modal-open {*/
/*    !* Fix content left-shift during modal open - I have no idea why this is happening *!*/
/*    padding-right: 0 !important;*/
/*}*/
