.sidebar {
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    backdrop-filter: blur(6px);
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-right-radius:9px;
    border-bottom-right-radius:9px;
    border-top: 1px ridge rgba(66 69 73 / 100%);
    border-right: 1px ridge rgba(66 69 73 / 100%);
    border-bottom: 1px ridge rgba(66 69 73 / 100%);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    color: #818181;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    transition: 0.5s;
    top: 5px;
    right: 10px;
}

.context-placement {
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 5px;
    right: 60px;
    transition: 0.3s;
}




[data-bs-theme="dark"] {

    .context-placement {
        background-color: rgba(0 0 0 / 70%);
    }

    .openbtn {
        background-color: rgba(0 0 0 / 70%);
    }

    .context-placement:hover {
        background-color: #444;
    }
    
    .openbtn:hover {
        background-color: #444;
    }

    .sidebar {
        background-color: rgba(0 0 0 / 60%);
    }
}

[data-bs-theme="light"]  {

    .context-placement {
        background-color: rgba(200 200 200 / 70%);
    }

    .openbtn {
        background-color: rgba(200 200 200 / 70%);
    }

    .context-placement:hover {
        background-color: #e7e6e6;
    }

    .openbtn:hover {
        background-color: #e7e6e6;
    }

    .sidebar {
        background-color: rgba(200 200 200 / 70%);
    }
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height <= 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.preview-image {
    object-fit: contain;
}
