{% extends "main.html" %}
{% block title %}400 - Bad Request{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div class="container-fluid py-3 px-4 text-center">

        {% block main %}{% endblock %}
            <p class="">From here you can <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="javascript:history.back()">Go Back</a> or
                <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{% url 'home:index' %}">Go Home</a>.
            </p>
    </div>
{% endblock %}

{% block tail %}{% endblock %}
