<div class="modal fade" id="streamPasswordModal" tabindex="-1" aria-labelledby="streamPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="streamPasswordModalLabel">Set Stream Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Setting a password gates viewer access to this stream. Viewers will need to enter
                    the password before they can watch. Clear the field and save to remove the password.
                </p>
                <form id="modal-stream-password-form" name="modal-stream-password-form">
                    <label for="stream-password-input" class="form-label">Password</label>
                    <div class="input-group w-100">
                        <input type="text" class="form-control" id="stream-password-input" name="password" autocomplete="off">
                        <button type="button" title="Unmask password" id="stream-password-unmask" class="btn btn-secondary btn-sm"><i class="fa-solid fa-eye me-1"></i></button>
                        <button type="button" title="Copy password" id="stream-password-copy" class="btn btn-warning btn-sm"><i class="fa-regular fa-copy"></i></button>
                        <button type="button" title="Generate new password" id="stream-password-generate" class="btn btn-info btn-sm"><i class="fa-solid fa-key"></i></button>
                    </div>
                    <input type="hidden" name="name" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="modal-stream-password-form">
                    Save <i class="fas fa-lock ms-1"></i></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
