{% extends "email/main.html" %}
{% load home_tags %}

{% block title %}Contact Form{% endblock %}

{% block preheader %}{{ contact.subject }}{% endblock %}

{% block body %}
    <h2>Contact Form</h2>
    <p>From: {{ contact.email }}</p>
    <p>Subject: {{ contact.subject }}</p>
    <p>{{ contact.message|linebreaksbr }}</p>
    {% if not browser %}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td><a href="{% get_config 'SITE_URL' %}{% url 'home:contact_html' 'browser' contact.uuid %}">
                            View in Browser</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    {% endif %}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td><a href="{% get_config 'SITE_URL' %}{% url 'home:contact_html' 'view' contact.uuid %}">
                            View Raw Message</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
