{% load home_tags %}

<table class="display responsive nowrap table table-hover table-responsive mb-0 w-100" id="albums-table">
    <caption class="visually-hidden">List of Albums</caption>
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Album Name</th>
        <th scope="col">Date</th>
        <th scope="col">Expire</th>
        <th scope="col"><i class="fa-solid fa-image"></i></th>
        <th scope="col"><i class="fa-solid fa-eye"></i></th>
        <th scope="col"><i class="fa-solid fa-bomb"></i></th>
        <th scope="col" class="text-center"><i class="fa-solid fa-gears"></i></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% include 'albums/delete-modal.html' %}
