{% extends "main.html" %}
{% load static %}
{% load tz %}
{% load home_tags %}
{% load cache %}
{% block albums_active %}active{% endblock %}
{% block title %}Albums{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dist/datatables/dataTables.bootstrap5.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
{% endblock %}

{% block body %}
<div class="container-fluid pb-3 pt-2" data-albums-view="list">
    {% include 'include/albums-toolbar.html' %}
    {% include 'albums/table.html' %}
</div><!-- /.container-fluid -->

{% include 'albums/create-modal.html' %}
{% endblock %}

{% block tail %}
    {% include 'include/datatables-scripts.html' %}
    <script defer src="{% static 'js/album-create.js' %}"></script>
    <script type="module" src="{% static 'js/albums-table.js' %}"></script>
    <script type="module" src="{% static 'js/albums-actions.js' %}"></script>
{% endblock %}
