{% extends "main.html" %}
{% load static %}
{% load tz %}
{% load home_tags %}
{% load cache %}
{% block albums_active %}active{% endblock %}
{% block title %}Albums{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dist/datatables/dataTables.bootstrap5.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
{% endblock %}

{% block body %}
<div class="container-fluid pb-3 pt-2 px-4">

    {% include 'include/albums-table.html' %}

</div> <!-- container-fluid -->

{% include 'include/album-create-modal.html' %}
{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'dist/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/dataTables.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/dataTables.dateTime.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/datetime.min.js' %}"></script>
    <script type="module" src="{% static 'js/albums-table.js' %}"></script>
{% endblock %}
