{% extends "main.html" %}
{% load static %}
{% load tz %}
{% load home_tags %}
{% load cache %}
{% block files_active %}active{% endblock %}
{% block title %}Files{% endblock %}

{% block head %}{% endblock %}

{% block body %}
{% cache 86400 files_files request.user %}
    <div class="container-fluid py-3 px-4">

        <h1>Files</h1>

        {% if not files %}
            <p class="lead">No files found. Perhaps you forgot to <a href="{% url 'home:uppy' %}">upload some files</a>...</p>
        {% else %}
            <p><em><a href="{% url 'home:uppy' %}">Upload Files</a></em></p>
            <p class="lead">Total Files: <strong>{{ files|length }}</strong></p>
            {% include 'include/files-table.html' with files=files  %}
        {% endif %}

    </div>
{% endcache %}
{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'main/js/files.js' %}"></script>
{% endblock %}
