{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block gallery_active %}active{% endblock %}
{% block title %}Gallery{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">

        <h1>Gallery</h1>

        {% cache 86400 files_gallery request.user %}
            {% if files %}
                <div class="row justify-content-center">
                    {% for file in files %}
                        {% include 'include/gallery-div.html' with file=file %}
                    {% endfor %}
                </div>
            {% else %}
                <p class="lead">No files found. Perhaps you forgot to <a href="{% url 'home:files' %}">upload some files</a>...</p>
            {% endif %}
        {% endcache %}

        <div class="modal fade" id="delete-file-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete File</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete this file?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="confirm-delete-hook-btn">Delete <i
                                class="fa-regular fa-trash-can ms-1"></i></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block tail %}{% endblock %}
