{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block gallery_active %}active{% endblock %}
{% block title %}Gallery{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div class="container-fluid py-3 px-4">

        <h1>Gallery</h1>

        <p><em><a href="{% url 'home:uppy' %}">Upload Files</a></em></p>

        {% if not files %}
            <p class="lead">No files found. Perhaps you forgot to <a href="{% url 'home:uppy' %}">upload some files</a>...</p>
        {% else %}
            <div class="row justify-content-center">
                {% for file in files %}
                    {% include 'include/gallery-div.html' with file=file %}
                {% endfor %}
            </div>
        {% endif %}

        {% include 'include/delete-modal.html' %}

    </div>
{% endblock %}

{% block tail %}{% endblock %}
