{% extends "main.html" %}
{% load static %}
{% load tz %}
{% load home_tags %}
{% load cache %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}

{% block head %}
    <link href="{% static 'uppy/uppy.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-fluid py-3 px-4">

    <h1><i class="fa-solid fa-house-laptop me-2"></i> {{ site_settings.site_title }}</h1>

    {% if not stats %}
        <p class="lead">Stats will show up here after files are uploaded and stats are generated...</p>
    {% else %}
        {% with stats=stats|first  %}
            <div class="row">
                {% include 'include/stats-card.html' with title="Total Files" data=stats.stats.count %}
                {% include 'include/stats-card.html' with title="Total Size" data=stats.stats.human_size %}
                {% include 'include/stats-card.html' with title="Total Shorts" data=stats.stats.shorts %}
            </div>
            {% include 'include/stats-table.html' with stats=stats count=6 %}
            <p>
                <a class="btn btn-sm btn-outline-warning me-2" role="button" id="updateStatsBtn" data-target-url="{% url 'home:update-stats' %}">
                    <i class="fa-solid fa-arrows-rotate"></i> Process Stats</a>
                <a class="btn btn-sm btn-outline-light me-2" role="button" href="{% url 'home:stats' %}">
                    <i class="fa-solid fa-chart-bar"></i> View Stats</a>
                {% if stats %}
                    <span class="d-inline-block my-1">Updated: {{ stats.updated_at|localtime }}</span>
                {% endif %}
            </p>
        {% endwith %}
    {% endif %}

    {% if user.storage_quota %}
    <div class="row mt-1 mb-4">
        <div class="col-md-12">
            <label for="storage_quota" class="form-label">{% firstof user.first_name user.username %}'s Storage Quota Usage</label>
            <div class="progress" role="progressbar" id="storage_quota" name="storage_quota" aria-label="User Storage Quota"
            aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="height: 35px; font-size: large">
                <div class="progress-bar overflow-visible {% if user.get_storage_usage_pct > 95 %}bg-danger{% elif user.get_storage_usage_pct > 85 %}bg-warning{% endif %}" style="width: {{ user.get_storage_usage_pct }}%">
                    <b>({{ user.get_storage_used_human_read }}/{{ user.get_storage_quota_human_read }}) {{ user.get_storage_usage_pct }}%</b>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h2 id="files">Recent Files</h2>
        {% include 'files/table.html' %}
        <p class="mt-0 files-truncation-warning"><em>This list is truncated to 10 files. </em><span class="d-inline-block">
            <a href="{% url 'home:files' %}">View All Files</a></span></em></p hidden>

    <h2 id="shorts mt-5 pt-5">Shorts</h2>
    <form id="quick-short-form" action="{% url 'home:shorten' %}">
        <div class="input-group my-2">
            <input type="text" class="form-control" id="long-url" name="long-url" placeholder="Reeeaaalllyyy Long URL..."
                   aria-label="Recipient's username" aria-describedby="create-short-btn" required>
            <button class="btn btn-outline-success" type="submit" id="create-short-btn"
                    data-target-url="{% url 'home:shorten' %}"><i class="fa-solid fa-hammer me-2"></i> Shorten</button>
        </div>
    </form>
    <p><em><a href="{% url 'home:shorts' %}">More Short Options</a></em></p>
    {% if not shorts %}
        <p class="lead">Short URLs will show up here once created...</p>
    {% else %}
        {% include 'include/shorts-table.html' with shorts=shorts|slice:":10"  %}
        {% if shorts|length > 10 %}
            <p><em>This list is truncated to 10 shorts. <span class="d-inline-block">
                <a href="{% url 'home:shorts' %}">View All Shorts</a></span></em></p>
        {% endif %}
    {% endif %}

    {% include 'files/file-upload-modal.html' %}
    {% include 'files/ctx-menu.html' %}
    {% include 'files/ctx-modals.html' %}

</div>
{% endblock %}


{% block tail %}
    <script type="text/javascript" src="{% static 'dist/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/dataTables.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/dataTables.dateTime.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/datatables/datetime.min.js' %}"></script>
    <script type="module" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stats.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/file-context-menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shorts.js' %}"></script>
    <script type="module" src="{% static 'js/uppy.js' %}"></script>
{% endblock %}
