{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block title %}Login{% endblock %}

{% block meta %}
    {% if invite %}
        <meta name="title" content="{{ site_settings.site_title }} Invite"/>
        <meta name="description" content="{{ invite.owner.get_name }} has invited you to join {{ site_settings.site_title }}."/>
        <meta property="og:title" content="{{ site_settings.site_title }} Invite">
        <meta property="og:description" content="{{ invite.owner.get_name }} has invited you to join {{ site_settings.site_title }}.">
    {% else %}
        <meta name="title" content="{{ site_settings.site_title }} Invite"/>
        <meta name="description" content="Enter an invite code to join {{ site_settings.site_title }}."/>
        <meta property="og:title" content="{{ site_settings.site_title }} Invite">
        <meta property="og:description" content="Enter an invite code to join {{ site_settings.site_title }}.">
    {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ site_settings.site_url }}{% static 'images/logo.png' %}">
    <meta name="theme-color" content="{{ site_settings.site_color }}">
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
<video poster="{% static 'video/loop.jpg' %}" id="bgvid" playsinline autoplay muted loop>
    <source src="{% static 'video/loop.mp4' %}" type="video/mp4" id="bgvidsrc">
</video>

<div class="d-flex flex-column h-100 align-items-center">
<div id="login-outer" class="animate__animated animate__fadeIn " style="width: 320px;">
    <div class="text-center">
        <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="{{ site_settings.site_title }}">
        <h3 class="text-white mt-2">{{ site_settings.site_title }}</h3>
    </div>

    {% if invite %}
        <p class="text-center"><strong>{{ invite.owner.get_name }}</strong> invited you to join.</p>
        <p class="text-center text-success-emphasis">Select a Username and Password.</p>

        <form name="inviteForm" id="inviteForm" method="post" action="{% url 'home:invite' invite=invite.invite %}">
            {% csrf_token %}

            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" autocomplete="username"
                   placeholder="Username" aria-describedby="username-invalid" autofocus required>
            <div id="username-invalid" class="invalid-feedback"></div>

            <label for="password" class="form-label mt-2">Password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="password"
                   placeholder="Password" aria-describedby="password-invalid" required>
            <div id="password-invalid" class="invalid-feedback"></div>

            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-success opacity-75" type="submit">
                    <i class="fa-solid fa-user-plus me-2"></i> Create Account</button>
            </div>
        </form>
    {% else %}
        <p class="lead text-center">
            <span class="text-danger-emphasis">Invite Not Found.</span></p>

        <form name="inviteSearch" id="inviteSearch" action="{% url 'home:invite-base' %}">
            <label for="invite" class="form-label mt-2">Invite Lookup</label>
            <input type="text" class="form-control" id="invite" name="invite" autocomplete="invite"
                   placeholder="Invite Code" aria-describedby="invite-invalid" required>

            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-success opacity-75" type="submit">
                    <i class="fa-solid fa-magnifying-glass me-2"></i> Lookup Invite</button>
            </div>
        </form>

        <hr>

        <div class="d-grid gap-2 mt-4">
            <a role="button" class="btn btn-outline-warning col" href="{% url 'home:index' %}">
                <i class="fa-solid fa-house-laptop me-2"></i> Go Home</a>
        </div>
    {% endif %}
</div> <!-- login-outer -->
</div> <!-- d-flex -->
{% endblock %}

{% block footer %}{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'js/invite.js' %}"></script>
{% endblock %}

{% block backtotop %}{% endblock %}
