{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block contact_active %}active{% endblock %}
{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body_no_main %}
<main class="h-100">
    <div class="h-100 align-self-center">
        <video poster="{% static 'video/loop.jpg' %}" id="bgvid" playsinline autoplay muted loop>
            <source src="{% static 'video/loop.mp4' %}" type="video/mp4" id="bgvidsrc">
        </video>
    {#    <button type="button" class="btn btn-primary float-end" id="pause">Pause</button>#}

        <div class="d-flex flex-column h-100 align-items-center">
        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div id="login-outer" class="animate__animated animate__fadeIn">
            <div class="text-center">
                <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="{{ site_settings.site_title }}">
                <h3 class="text-center text-white">{{ site_settings.site_title }}</h3>
            </div>

            <form class="submit-once" method="POST" name="login-form" id="login-form" action="{% url 'oauth:login' %}">
                {% csrf_token %}

                <div class="col mt-4">
                    <input type="text" class="form-control" id="username" name="username" autocomplete="username" required autofocus>
                    <span class="form-label floating-label text-white">username</span>
                </div>

                <div class="col">
                    <input type="password" class="form-control" id="password" name="password" autocomplete="password"
                        aria-describedby="passwordFeedback" required>
                        <span class="form-label floating-label text-white">password</span>
                    <div id="passwordFeedback" class="invalid-feedback">
                        Invalid Username or Password.
                    </div>
                </div>

                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% elif request.session.login_next_url %}
                    <input type="hidden" name="next" value="{{ request.session.login_next_url }}">
                {% endif %}

                <div class="d-grid gap-2">
                    <button id="login-button" class="btn btn-secondary" type="submit">
                        <i class="fas fa-sign-in-alt"></i> Local Login</button>
                    {% if 'DISCORD_CLIENT_ID'|get_config %}
                        <a href="{% url 'oauth:discord' %}?next={{ request.path }}" class="btn btn-primary" role="button">
                            <i class="fa-brands fa-discord"></i> Discord Login</a>
                    {% endif %}
                </div>

                <div id="login-message" class="pt-3">
                    {% if messages %}
                        <ul class="list-group text-center">
                            {% for message in messages %}
                                <li class="list-group-item list-group-item-{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </form>
        </div>
        </div>
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block backtotop %}
{% endblock %}