{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
<video poster="{% static 'video/loop.jpg' %}" id="bgvid" playsinline autoplay muted loop>
    <source src="{% static 'video/loop.mp4' %}" type="video/mp4" id="bgvidsrc">
</video>

<div class="d-flex flex-column align-items-center h-100">
<div id="login-outer" class="animate__animated animate__fadeIn ">
    <div class="text-center">
        <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="{{ site_settings.site_title }}">
        <h3 class="text-center text-white mt-2">{{ site_settings.site_title }}</h3>
    </div>

    <form class="submit-once" method="POST" name="login-form" id="login-form" action="{% url 'oauth:login' %}">
        {% csrf_token %}
        {% if local %}
            <div class="form-floating mb-2 mt-4">
                <input type="username" id="username" name="username" class="form-control" autocomplete="username" placeholder="Username" aria-describedby="Username" required autofocus>
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" autocomplete="password" placeholder="Password" aria-describedby="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div id="passwordFeedback" class="invalid-feedback" aria-describedby="Username or Password feedback.">
                Invalid Username or Password.
            </div>

            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% elif request.session.login_next_url %}
                <input type="hidden" name="next" value="{{ request.session.login_next_url }}">
            {% endif %}

        {% endif %}
        <div class="d-grid gap-2 mt-3">
            {% if local %}
                <button id="login-button" class="btn btn-secondary opacity-75" type="submit">
                    <i class="fas fa-sign-in-alt"></i> Local Login</button>
                {% if site_settings.discord_client_id or site_settings.github_client_id or site_settings.google_client_id %}
                        <h6 class="text-center text-secondary mb-1">OR</h6>
                {% endif %}
            {% endif %}

            {% if site_settings.discord_client_id %}
                <a href="{% url 'oauth:discord' %}?next={{ request.path }}" class="btn btn-primary opacity-75 d-flex align-items-center justify-content-center" role="button">
                    <i class="fa-brands fa-discord px-2"></i> Login with Discord</a>
            {% endif %}
            {% if site_settings.github_client_id %}
                <a href="{% url 'oauth:github' %}?next={{ request.path }}" class="btn btn-dark opacity-75 d-flex align-items-center justify-content-center" role="button">
                    <i class="fa-brands fa-github px-2"></i> Login with GitHub</a>
            {% endif %}
            {% if site_settings.google_client_id %}
            <a href="{% url 'oauth:google' %}?next={{ request.path }}" class="btn btn-info opacity-75 d-flex align-items-center justify-content-center" role="button">
                <i class="fa-brands fa-google px-2"></i> Login with Google</a>
            {% endif %}
        </div>

        <div id="login-message" class="mt-2">
            {% if messages %}
                <ul class="list-group text-center">
                    {% for message in messages %}
                        <li class="list-group-item list-group-item-{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </form>
</div> <!-- login-outer -->
</div> <!-- d-flex -->
{% endblock %}

{% block footer %}{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block backtotop %}{% endblock %}
