{% load static %}
{% load home_tags %}
{% load cache %}

<!doctype html>
<html lang="en" class="h-100" {% block htmltag %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    {% if 'DEBUG'|get_config %}<meta name="robots" content="noindex, nofollow">{% endif %}

    <title>{{ site_settings.site_title }} - {% block title %}{% endblock %}</title>

    {% block meta %}
        <meta name="description" content="{{ site_settings.site_description }}"/>

        <meta property="og:site_name" content="{{ site_settings.site_title }}">
        <meta property="og:title" content="{{ site_settings.site_title }}">
        <meta property="og:description" content="{{ site_settings.site_description }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:image" content="{{ site_settings.site_url }}{% static 'images/logo.png' %}">
        <meta name="theme-color" content="{{ site_settings.site_color }}">

        <meta property="twitter:card" content="summary">
        <meta property="twitter:title" content="{{ site_settings.site_title }}">
        <meta property="twitter:description" content="{{ site_settings.site_description }}">
        <meta property="twitter:image" content="{{ site_settings.site_url }}{% static 'images/logo.png' %}">
    {% endblock %}

    <meta name="apple-itunes-app" content="app-id=6742523003{% if native_app_arg %}, app-argument={{ native_app_arg }}{% endif %}">

    <meta name="darkreader-lock">

    <link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="any">
    <link rel="stylesheet" href="{% static 'dist/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block themejs %}
        <script type="text/javascript" src="{% static 'bootstrap/theme.js' %}"></script>
    {% endblock %}
    {% if site_settings.site_animations %}
        <link rel="stylesheet" href="{% static 'dist/animate/animate.min.css' %}">
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body class="d-flex flex-column h-100{% block body_class %}{% endblock %}">

{% block navbar %}
<header>
{% block navbar_inner %}
<nav class="navbar navbar-expand-{% if not request.user.is_authenticated %}sm{% else %}md{% endif %} navbar-dark" aria-label="Main Navigation"
     style="--nav-color-1: {% block nav1color %}{{ user.nav_color_1|default:"#130e36" }}{% endblock %}; --nav-color-2: {% block nav2color %}{{ user.nav_color_2|default:"#1e1c21" }}{% endblock %};">
<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:index' %}">
        <img src="{% static 'images/logo.png' %}" width="30" height="30" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% include 'include/nav-offcanvas.html' %}
</div>
</nav>
{% endblock %}
{% block under_nav %}{% endblock %}
</header>
{% endblock %}

<main class="flex-grow-1">
{% if request.user.is_superuser %}
    {% block welcome %}
        {% if not site_settings.site_url %}
            <div class="container-fluid">
                <div id="siteUrlWarning" class="alert alert-warning mt-2" role="alert">
                    <strong>Important:</strong> The Site URL is not set!
                    <a href="{% url 'settings:site' %}">Site Settings.</a>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endif %}
{% block body %}{% endblock %}
</main>

{% block backtotop %}
    <button type="button" id="back-to-top" aria-label="Back to top">
        <i class="fas fa-arrow-up"></i>
    </button>
{% endblock %}

{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}

{% if request.user.is_authenticated %}
    <div id="keybinds-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Keybinds</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <p><kbd>A</kbd> Albums</p>
                            <p><kbd>S</kbd> User Settings</p>
                            {% if request.user.is_superuser %}
                                <p><kbd>D</kbd> Site Settings</p>
                            {% endif %}
                            <p><kbd>F</kbd> Files</p>
                            <p><kbd>G</kbd> Gallery View</p>
                            <p><kbd>H</kbd> Home</p>
                            <p><kbd>M</kbd> Map View</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p><kbd>R</kbd> Short URL's</p>
                            <p><kbd>T</kbd> Upload Text</p>
                            <p><kbd>U</kbd> Upload Files</p>
                            <p><kbd>X</kbd> ShareX Files Uploader</p>
                            <p><kbd>Z</kbd> or <kbd>K</kbd> Keyboard Shortcuts</p>
                            <p><kbd>Ctrl</kbd>/<kbd>⌘</kbd> + <kbd>V</kbd> Upload Clipboard</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'include/file-upload-modals.html' %}
    <form id="log-out" action="{% url 'oauth:logout' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
    </form>

{#    {% if stats %}#}
{#        {% with stats=stats|first  %}#}
{#            <form id="stats-form">#}
{#                <input type="hidden" id="statFiles" value="{{ stats.stats.count }}">#}
{#                <input type="hidden" id="statSize" value="{{ stats.stats.size }}">#}
{#                <input type="hidden" id="statHuman" value="{{ stats.stats.human_size }}">#}
{#                <input type="hidden" id="statShorts" value="{{ stats.stats.shorts }}">#}
{#            </form>#}
{#        {% endwith %}#}
{#    {% endif %}#}
{% endif %}

{% block toast %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3 mb-5">
        {% block messages %}{% if messages %}
            {% for message in messages %}
                <div class="toast toast-alert align-items-center text-bg-{{ message.tags }} border-0 opacity-75"
                     role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                    <div class="d-flex">
                        <div class="toast-body">{{ message }}</div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}{% endblock %}
        <div id="disconnected-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header">
                <strong id="disconnected-toast-title" class="me-auto text-danger">Reconnecting...</strong>
                <small>Server</small>
            </div>
            <div class="toast-body">
                Websocket Connection Closed. <strong><a href="javascript:location.reload(true)">Reload</a></strong>.
            </div>
        </div>
        <div id="toast" class="toast align-items-center border-0 mt-3" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block site_settings %}
    <input type="hidden" value="{{ site_settings.site_url }}" id="site_settings-site_url" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'dist/jquery/jquery.min.js' %}"></script>
    <script defer src="{% static 'dist/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'dist/clipboard/clipboard.min.js' %}"></script>
    <script defer src="{% static 'dist/ua-parser-js/ua-parser.min.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
    {% if request.user.is_authenticated %}
        <script type="module" src="{% static 'js/socket.js' %}"></script>
        <script defer src="{% static 'js/user.js' %}"></script>
        <script defer src="{% static 'js/keybinds.js' %}"></script>
    {% endif %}
{% endblock %}

{% block tail %}{% endblock %}

</body>
</html>
