{% load static %}
{% load home_tags %}
{% load cache %}

<!doctype html>
<html lang="en" class="h-100">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% get_config 'DEBUG' as debug_enabled %}{% if debug_enabled %}
        <meta name="robots" content="noindex, nofollow">{% endif %}

    <title>Django Files - {% block title %}{% endblock %}</title>

    {% block meta %}
        <meta name="author" content="Shane"/>
        <meta name="title" content="Django Files"/>
        <meta name="description" content="Django Files - A Django File, plural style."/>

        <meta property="og:author" content="Shane">
        <meta property="og:title" content="Django Files">
        <meta property="og:description" content="Django Files - A Django File, plural style.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/logo.png' %}">
    {% endblock %}

    <link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="any">
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'animate/animate.min.css' %}">

    {% block head %}{% endblock %}

</head>
<body class="d-flex flex-column h-100">

{% block navbar %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:index' %}">
                <img src="{% static 'images/logo.png' %}" width="30" height="30" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item"><a class="nav-link {% block home_active %}{% endblock %}" href="{% url 'home:index' %}">
                        Home</a></li>
                    <li class="nav-item"><a class="nav-link {% block files_active %}{% endblock %}" href="{% url 'home:files' %}">
                        Files</a></li>
                    <li class="nav-item"><a class="nav-link {% block settings_active %}{% endblock %}" href="{% url 'home:settings' %}">
                        Settings</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'oauth:login' %}?next={{ request.path }}" class="btn btn-outline-info" role="button">
                            Log In <i class="fas fa-sign-in-alt ms-2"></i></a>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
                                <i class="fas fa-angle-down mx-1"></i>
                                <img src="{{ user|avatar_url }}"
                                     class="rounded-circle mx-2 d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline" height="26" width="26" alt="P"></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#user-info-modal">
                                    <i class="fas fa-user-circle me-2"></i> Profile</a></li>
                                {% if request.user.is_staff or request.user.is_superuser %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-success" href="{% url 'admin:index' %}">
                                        <i class="fa-solid fa-rocket me-2"></i> Admin</a></li>
                                {% endif %}
                                {% if request.user.is_superuser %}
{#                                    <li><hr class="dropdown-divider"></li>#}
{#                                    <li><a class="dropdown-item text-primary" href="{% url 'flower' %}" target="_blank">#}
{#                                        <i class="fas fa-seedling me-2"></i> Flower <i class="fas fa-external-link-alt ms-1"></i></a></li>#}
{#                                    <li><a class="dropdown-item text-primary" href="{% url 'redis' %}" target="_blank">#}
{#                                        <i class="fa-solid fa-database me-2"></i> Redis <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i></a></li>#}
{#                                    <li><a class="dropdown-item text-primary" href="{% url 'phpmyadmin' %}" target="_blank">#}
{#                                        <i class="fa-solid fa-server me-2"></i> MySQL <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i></a></li>#}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" role="button" target="_blank" id="flush-cache">
                                        <i class="fa-solid fa-toilet me-2"></i> Flush Cache</a></li>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item log-out text-warning" role="button">
                                    <i class="fas fa-sign-out-alt me-2"></i> Log Out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

<main class="flex-shrink-0">
    {% block body %}{% endblock %}
</main>

{% block backtotop %}
<button type="button" class="btn btn-primary btn-floating" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
{% endblock %}

{% block footer %}
<footer class="footer mt-auto p-2">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-md-6">
                <p>Join us <a class="" href="https://github.com/smashedr/django-files" target="_blank">
                    on <i class="fab fa-github"></i> GitHub</a></p>
            </div>

            <div class="col-12 col-md-6 text-md-end">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'home:index' %}" class="">Home</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{% url 'home:files' %}" class="">Files</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="{% url 'home:settings' %}" class="">Settings</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
{% endblock %}

{% if request.user.is_authenticated %}
    <form id="log-out" action="{% url 'oauth:logout' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
    </form>
    <div class="modal fade" id="user-info-modal" tabindex="-1" aria-labelledby="user-info-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="user-info-modal-label">
                        <i class="fas fa-user-circle me-2"></i> Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{ user|avatar_url }}" alt="Profile Picture"
                         class="rounded float-end m-2" style="max-height:128px;max-width:128px;">
                    <h4 class="modal-title">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h4>
                    <p>Information provided by Discord.</p>
                    <p></p>
                    <div class="clearfix"></div>
                    <table class="table mt-2">
                        <tbody>
                        <tr>
                            <th>Discord ID</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Discord Username</th>
                            <td>{{ user.first_name }}#{{ user.last_name }}</td>
                        </tr>
{#                        <tr>#}
{#                            <th>Authorization Token</th>#}
{#                            <td>{{ user.authorization }}#{{ user.authorization }}</td>#}
{#                        </tr>#}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="https://discord.com/login" class="btn btn-primary me-auto" role="button" target="_blank">
                        Open in Discord <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i></a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="toast-container position-fixed bottom-0 end-0 p-3 mb-5">
    {% block messages %}{% if messages %}
        {% for message in messages %}
            <div class="toast toast-alert align-items-center text-bg-{{ message.tags }} border-0"
                 role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                <div class="d-flex">
                    <div class="toast-body">{{ message }}</div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        {% endfor %}
    {% endif %}{% endblock %}
</div>

{% block js %}
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static "bootstrap/theme.js" %}"></script>#}
    <script type="text/javascript" src="{% static 'font-awesome/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'clipboardjs/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jscookie/js.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
    {% if request.user.is_authenticated %}
        <script type="text/javascript" src="{% static 'main/js/user.js' %}"></script>
    {% endif %}
{% endblock %}

{% block tail %}{% endblock %}

</body>
</html>
