{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% block shorts_active %}active{% endblock %}
{% block title %}Shorts{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dist/datatables/dataTables.bootstrap5.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
{% endblock %}

{% block body %}
<div class="container-fluid pb-3 pt-2" data-shorts-view="list">
    {% include 'include/shorts-toolbar.html' %}
    <table class="display responsive nowrap table table-hover table-responsive mb-0 w-100" id="shorts-table"
           data-skeleton-cols="18,60,160,24,24,50" data-skeleton-rows="8">
        <caption class="visually-hidden">List of Short URLs</caption>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Short</th>
                <th scope="col">URL</th>
                <th scope="col"><i class="fa-solid fa-eye"></i></th>
                <th scope="col"><i class="fa-solid fa-bomb"></i></th>
                <th scope="col" class="text-center"><i class="fa-solid fa-gears"></i></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

{% include 'shorts/create-modal.html' %}
{% include 'shorts/delete-modal.html' %}
{% endblock %}

{% block tail %}
    {% include 'include/datatables-scripts.html' %}
    <script defer src="{% static 'js/short-create.js' %}"></script>
    <script type="module" src="{% static 'js/shorts-table.js' %}"></script>
{% endblock %}
