{% extends "main.html" %}
{% load static %}
{% load tz %}
{% load home_tags %}
{% load cache %}
{% block shorts_active %}active{% endblock %}
{% block title %}Shorts TEST{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div class="container-fluid py-3 px-4">

        <h1 id="shorts">URL Shorts</h1>

        {% cache 86400 shorts_shorts request.user %}
            {% if not shorts %}
                <p class="lead">Short URLs will show up here once created...</p>
            {% else %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="long-url" name="long-url" placeholder="Reeeaaalllyyy Long URL..."
                           aria-label="Recipient's username" aria-describedby="create-short-btn">
                    <button class="btn btn-outline-success" type="button" id="create-short-btn"
                            data-target-url="{% url 'home:shorten' %}">Short It</button>
                </div>
                <p class="lead">Total Shorts: <strong>{{ shorts|length }}</strong></p>
                {% include 'include/shorts-table.html' with shorts=shorts|slice:":10"  %}

            {% endif %}
        {% endcache %}

    </div>
{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'main/js/shorts.js' %}"></script>
{% endblock %}
