{% extends "main.html" %}
{% load static %}
{% load tz %}
{% load home_tags %}
{% load cache %}
{% block contact_active %}active{% endblock %}
{% block title %}Stats{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.js"></script>
{% endblock %}

{% block body %}
{% cache 86400 stats_stats request.user %}
<div class="container-fluid py-3 px-4">

    <h1>Stats</h1>

    {% if not stats %}
        <p class="lead">Stats will show up here after files are uploaded and stats are generated...</p>
    {% else %}
        {% with stats=stats|first  %}

            <div class="row">
                {% include 'include/stats-card.html' with title="Total Files" data=stats.stats.count %}
                {% include 'include/stats-card.html' with title="Total Size" data=stats.stats.human_size %}
                {% include 'include/stats-card.html' with title="Total Shorts" data=stats.stats.shorts %}
            </div>

            {% include 'include/stats-table.html' with stats=stats count=0 %}

            <p><a class="btn btn-sm btn-outline-warning me-2" role="button" id="update-stats-btn"
                  data-target-url="{% url 'home:update-stats' %}">
                <i class="fa-solid fa-arrows-rotate"></i> Process Stats</a>{% if stats %}
                <span class="d-inline-block my-1">Updated: {{ stats.updated_at|localtime }}</span>{% endif %}</p>

            <div class="row">
                <div class="col">
                    <!-- Prepare a DOM with a defined width and height for ECharts -->
                    <div id="stats" class="w-100" style="min-width: 340px;height: 400px;"></div>
                </div>
            </div>

            <!-- TODO: Use Something Else? Or Fix! -->
            {{ days|json_script:"days" }}
            {{ files|json_script:"files" }}
            {{ size|json_script:"size" }}
            <script type="text/javascript">
                // Django Data
                const labels = JSON.parse(document.getElementById('days').textContent);
                console.log(labels);
                const files = JSON.parse(document.getElementById('files').textContent);
                console.log(files);
                const size = JSON.parse(document.getElementById('size').textContent);
                console.log(size);

                // Initialize the echarts instance based on the prepared dom
                let chart = echarts.init(document.getElementById('stats'));

                // Specify the configuration items and data for the chart
                let option = {
                    title: {
                        text: 'Stats',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {},
                    legend: {
                        data: ['Files']
                    },
                    xAxis: {
                        type: 'category',
                        data: labels
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: 'Files',
                            type: 'line',
                            data: files
                        }
                    ]
                };

                // Display the chart using the configuration items and data just specified.
                chart.setOption(option);
            </script>

        {% endwith %}
    {% endif %}

</div>
{% endcache %}
{% endblock %}

{% block tail %}
    <script>
        $(window).on('resize', function(){
            if ( chart != null ){ chart.resize(); }
        });
    </script>
    <script type="text/javascript" src="{% static 'main/js/stats.js' %}"></script>
{% endblock %}
