{% extends "main.html" %}
{% load static %}
{% load home_tags %}
{% load cache %}
{% block streams_active %}active{% endblock %}
{% block title %}Streams{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dist/datatables/dataTables.bootstrap5.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stream.css' %}" />
{% endblock %}

{% block under_nav %}
{% include 'include/streams-toolbar.html' %}
{% endblock %}

{% block body %}

    <div class="container-fluid pb-3 pt-2" data-streams-view="list">
        {% include 'streams/table.html'%}
    </div>

    {% include 'streams/stream-modal.html' %}

{% endblock %}


{% block tail %}
    {% include 'include/datatables-scripts.html' %}
    <script type="module" src="{% static 'js/streams-table.js' %}"></script>
{% endblock %}
