{% extends "main.html" %}
{% block uppy_active %}active{% endblock %}
{% block title %}Upload{% endblock %}
{% load home_tags %}
{% load static %}

{% block head %}
    <link href="{% static 'uppy/uppy.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid py-3 px-4">

        {% include 'include/upload-menu.html' with heading='Upload Files' fa_class='fa-solid fa-upload' %}

        <div id="uppy" class="mt-4"></div>

    </div>
{% endblock %}

{% block tail %}
    <script type="module">
        import {
            Uppy,
            Dashboard,
            Webcam,
            Audio,
            ScreenCapture,
            XHRUpload,
        } from "{% static 'uppy/uppy.min.js' %}";

        const uppy = new Uppy({ debug: true, autoProceed: false })
            .use(Dashboard, {
                inline: true,
                theme: 'auto',
                target: '#uppy',
                showProgressDetails: true,
                showLinkToFileUploadResult: true,
                autoOpenFileEditor: true,
                proudlyDisplayPoweredByUppy: false,
                note: 'Django Files Upload',
                height: 380,
                width: '100%',
                metaFields: [
                    {id: 'name', name: 'Name', placeholder: 'File Name'},
                    {id: 'Expires-At', name: 'Expires At', placeholder: 'File Expiration Time.'},
                    {id: 'info', name: 'Info', placeholder: 'Information about the file.'}
                ],
                browserBackButtonClose: false
            })
            .use(Webcam, { target: Dashboard })
            .use(Audio, { target: Dashboard })
            .use(ScreenCapture, { target: Dashboard })
            .use(XHRUpload, {
                endpoint: "{% if request.user.is_authenticated %}{% url 'api:upload' %}{% else %}{% url 'home:public-uppy' %}{% endif %}",
                headers: {
                    "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val(),
                },
            })

        uppy.on("success", (fileCount) => {
            console.log(`${fileCount} files uploaded`);
        });
    </script>
{% endblock %}
