{% extends "main.html" %}
{% block uppy_active %}active{% endblock %}
{% block title %}Upload{% endblock %}
{% load home_tags %}
{% load static %}

{% block head %}
    <link href="{% static 'dist/uppy/uppy.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid py-3 px-4 h-100">
        {% include 'include/upload-menu.html' with heading='Upload Files' fa_class='fa-solid fa-upload' %}
        {% include 'files/uppy-form.html' %}
    </div>
{% endblock %}

{% block tail %}
    <script type="text/javascript">
        const uploadUrl = "{% url 'api:upload' %}"
    </script>
    <script type="module" src="{% static 'js/uppy.js' %}"></script>
{% endblock %}
